blockquote,body,button,dd,dl,dt,fieldset,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;border:0}
body,button,input,select,textarea{font-family:'Microsoft Yahei',"Lucida Grande",Tahoma,Arial,Helvetica,sans-serif;font-size:14px;color:#333}
button,input,select,textarea{outline:0}
html{line-height:1}
address,cite,em,i,var{font-style:normal}
h1{font-size:18px}
h2{font-size:16px}
h3{font-size:14px}
h4,h5,h6{font-size:100%}
li,ol,ul{list-style:none}
a{text-decoration:none;color:#333;cursor:pointer}
ahover{text-decoration:none;color:#ef3838;transition-duration:.4s}
img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}

.banner{background: 50% 0 no-repeat;background-size: auto 100%;}
.banner .container{}
.banner .container:after{display: block;content: '';padding-top:16.66666666666667% }

.zyyw {}
.zyyw .zyyw-wrapper {}
.zyyw .zyyw-wrapper-m {display: flex;margin: 30px 0 50px;}
.zyyw .aside {width: 25%;margin-right: 2.5%;}
.zyyw .aside .aside-w{border:1px solid #e0e0e0;background-color: #fafafa;}
.zyyw .aside .aside-w .tt{position: relative}
.zyyw .aside .aside-w .tt:after{display: block;content: '';padding-top: 100%;}
.zyyw .aside .aside-w .tt-w{position: absolute;top:0;left: 0;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
.zyyw .aside .aside-w .tt-w .mtt{text-align: center;}
.zyyw .aside .aside-w .tt-w .mtt .ico{display: block; width: 88px;height: 88px;background: url("../imgs/icon-zyyw.png") 50% 50% no-repeat;}
.zyyw .aside .aside-w .tt-w .mtt p{font-size: 18px;line-height: 18px;margin-top: 22px;}

.zyyw .aside .aside-w .list{}
.zyyw .aside .aside-w .list li{height: 58px;line-height: 58px;border-top: 1px solid #e0e0e0;}
.zyyw .aside .aside-w .list li a{display: block;position: relative;font-size: 16px;text-align: center;}
.zyyw .aside .aside-w .list li a:before{display: block;content:''; position: absolute;top:0;left: 0;width: 2.6%;height: 100%;background-color: #1fc8f3;visibility: hidden}
.zyyw .aside .aside-w .list li a.active{color: #1fc8f3;background-color: #f3f3f3}
.zyyw .aside .aside-w .list li a.active:before{visibility: visible;}

.zyyw .aside .aside-w .list li .icon{display:inline-block;width: 22px;height: 22px;content: '';background: 50% 50% no-repeat;transform: translateY(5px);margin-right: 10px;}
.zyyw .aside .aside-w .list li .icon.icon-zxfw{background-image: url("../imgs/icon-zxfw.png");}
.zyyw .aside .aside-w .list li .icon.icon-gczj{background-image: url("../imgs/icon-gczj.png");}
.zyyw .aside .aside-w .list li .icon.icon-zbdl{background-image: url("../imgs/icon-zbdl.png");}
.zyyw .aside .aside-w .list li a.active .icon.icon-zxfw{background-image: url("../imgs/icon-zxfw-on.png");}
.zyyw .aside .aside-w .list li a.active .icon.icon-gczj{background-image: url("../imgs/icon-gczj-on.png");}
.zyyw .aside .aside-w .list li a.active .icon.icon-zbdl{background-image: url("../imgs/icon-zbdl-on.png");}


.zyyw .mnc {flex: 1;}
.zyyw .mnc-w {border:1px solid #e0e0e0;box-sizing: border-box;}
.zyyw .mnc-w .tit{position: relative;height: 30px;line-height: 30px;font-size: 18px;padding-left: 20px;margin: 2% 2% 1%;}
.zyyw .mnc-w .tit:after{display: block;content: '';position: absolute;top:0;left: 0;height: 100%;background-color: #1fc8f3;width: 8px;}
.zyyw .mnc-w .item-wrapper{padding: 1%;}
.zyyw .mnc-w .item-wrapper .item{position: relative;float: left;width: 48%;margin: 1%;box-sizing: border-box;border: 1px solid #e2e2e2;border-radius: 4px;padding: 20px;height: 200px;}
.zyyw .mnc-w .item-wrapper .ico{width: 60px;height: 60px;display: block;position: absolute;top: 0;right: 0;border-left: 1px solid #e2e2e2;border-bottom: 1px solid #e2e2e2;background: 50% 50% no-repeat;}
.zyyw .mnc-w .item-wrapper .txt{font-size: 18px;line-height: 32px;margin-bottom: 22px;margin-right: 12%;}
.zyyw .mnc-w .item-wrapper .span-txt{font-size: 12px;line-height: 24px;}

@media screen and (max-width: 1199px){
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 749px) {
	.zyyw .zyyw-wrapper-m{display: block;}
	.zyyw .aside{width: 100%;}
	.zyyw .aside .aside-w .tt{display: none}
	.zyyw .mnc-w .item-wrapper .item{width: 98%}
	.zyyw .mnc{margin-top: 20px;}
	.zyyw .aside .aside-w .list li:first-child{border-top: none;}
	.zyyw .zyyw-wrapper-m{margin-top: 12px;}
}
