blockquote,body,button,dd,dl,dt,fieldset,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;border:0}
body,button,input,select,textarea{font-family:'Microsoft Yahei',"Lucida Grande",Tahoma,Arial,Helvetica,sans-serif;font-size:14px;color:#333}
button,input,select,textarea{outline:0}
html{line-height:1}
address,cite,em,i,var{font-style:normal}
h1{font-size:18px}
h2{font-size:16px}
h3{font-size:14px}
h4,h5,h6{font-size:100%}
li,ol,ul{list-style:none}
a{text-decoration:none;color:#333;cursor:pointer}
ahover{text-decoration:none;color:#ef3838;transition-duration:.4s}
img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
.container{width:1200px;margin:0 auto}
.icon{display:inline-block}

.about .banner{background:50% 0 #00afe6 no-repeat;}
.about .banner .container{height: 180px;}
.about .banner .cnt{width: 470px;color: #ffffff;margin-top: 106px;float: left;}
.about .banner .cnt .tt{font-size: 18px;}
.about .banner .cnt .bd{font-size: 12px;line-height: 24px;margin-top: 30px;}

.about .about-bd {padding: 53px 0 131px 0;background-color: #f8f8f8;}
.about .about-bd .tt{font-size: 24px;text-align: center;}
.about .about-bd .bd{font-size: 0;text-align: center;margin-top: 36px;}
.about .about-bd .bd span{font-size: 12px;line-height: 13px;display: inline-block;}
.about .about-bd .bd span.first{}
.about .about-bd .bd span.second{margin-left: 24px}
.about .about-bd .bd span.third{margin-left: 57px}
.about .about-bd .bd .about-icon{display: inline-block;width: 13px;height: 13px;background: 0 0 no-repeat;float: left;margin-right: 12px;}
.about .about-bd .bd .about-icon.gczx-email{background-image: url(../imgs/gczx-email.png);}
.about .about-bd .bd .about-icon.gczx-location{background-image: url(../imgs/gczx-location.png);}
.about .about-bd .bd .about-icon.gczx-telphone{background-image: url(../imgs/gczx-telphone.png);}


.about .item-wrapper{font-size: 0;text-align: center;margin-top: 55px;}
.about .item-wrapper .item{display: inline-block;width: 238px;background-color:  #ffffff;border: 1px solid #d7d7d7;text-align: center;height: 348px;margin: 0 30px;vertical-align: bottom;}
.about .item-wrapper .item .mn{text-align: left;display: inline-block;}
.about .item-wrapper .item .img{margin-top: 56px;width: 120px;height: 110px;}
.about .item-wrapper .item .tit{font-size: 16px;margin-top: 50px;}
.about .item-wrapper .item .nm{font-size: 14px;margin-top: 12px;}
.about .item-wrapper .item .mobile{font-size: 12px;margin-top: 15px;}
.about .item-wrapper .item .emil{font-size: 12px;margin-top: 18px;}

.about .banner.banner-750{display: none;}

@media screen and (max-width: 1199px){
	.about .item-wrapper{margin: 55px -10px 0;}
	.about .item-wrapper .item{margin:0 10px; width: 220px;}
}
@media screen and (max-width: 768px) {
	.about .item-wrapper .item{width: 230px; height: 310px;}
	.about .about-bd{padding:30px 0 60px 0}
}
@media screen and (max-width: 749px) {

	.about .banner.banner-1200{display: none;}
	.about .banner.banner-750{display: block;position: relative;}
	.about .banner .container{height: auto;position: absolute;top: 0;}
	.about .banner.banner-750 img{width: 100%;}

	.about .banner .cnt{margin: 0;width: 100%;margin-top: 5px;}
	.about .banner .cnt .tt{font-size: 14px;}
	.about .banner .cnt .bd{margin-top: 0;line-height: 14px;}
	.about .about-bd .bd span{display: block;}
	.about .about-bd .bd span.first{}
	.about .about-bd .bd span.second{margin: 8px 0 0;}
	.about .about-bd .bd span.third{margin: 8px 0 0;}
	.about .about-bd {padding: 24px 0 0;}
	.about .about-bd .tt{font-size: 18px;}
	.about .about-bd .bd{text-align: left;width: 256px;margin: 20px auto 0;}
	.about .about-bd .bd .about-icon{}
	.about .about-bd .bd .about-icon.gczx-email{}
	.about .about-bd .bd .about-icon.gczx-location{}
	.about .about-bd .bd .about-icon.gczx-telphone{}


	.about .item-wrapper{margin: 25px 0 0;}
	.about .item-wrapper .item{width: 100%;margin: 0 0 12px;box-sizing: border-box;height: auto;padding-bottom: 37px;}
	.about .item-wrapper .item .mn{}
	.about .item-wrapper .item .img{}
	.about .item-wrapper .item .tit{}
	.about .item-wrapper .item .nm{}
	.about .item-wrapper .item .mobile{}
	.about .item-wrapper .item .emil{}

	.about .about-bd .bd span{height: 13px;}

}
