blockquote, body, button, dd, dl, dt, fieldset, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {margin: 0;padding: 0;border: 0}
body, button, input, select, textarea {font-family: 'Microsoft Yahei', "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;font-size: 14px;color: #333}
button, input, select, textarea {outline: 0}
html {line-height: 1}
address, cite, em, i, var {font-style: normal}
h1 {font-size: 18px}
h2 {font-size: 16px}
h3 {font-size: 14px}
h4, h5, h6 {font-size: 100%}
li, ol, ul {list-style: none}
a {text-decoration: none;color: #333;cursor: pointer}
ahover {text-decoration: none;color: #ef3838;transition-duration: .4s}
img {border: 0;vertical-align: middle;-ms-interpolation-mode: bicubic}
.container {width: 1200px;margin: 0 auto}
.icon {display: inline-block}
.index .banner {margin-top: 80px}
.index .banner img {width: 100%;}
.index .business {margin-top: 47px;font-size: 0;}
.index .business .tit {text-align: center;font-size: 30px;color: #333;}
.index .business .cell-wrapper {margin-top: 47px;}
.index .business .cell-wrapper .cell {width: 515px;height: 140px;float: left;position: relative;margin-bottom: 36px;}
.index .business .cell-wrapper .cell img {display: none;}
.index .business .cell-wrapper .cell .date {width: 112px;height: 140px;background-color: #a0a0a0;float: left;color: #FFFFFF;text-align: center}
.index .business .cell-wrapper .cell .date .txt-1 {font-size: 60px;margin-top: 22px;}
.index .business .cell-wrapper .cell .date .txt-2 {font-size: 24px;margin-top: 3px;}
.index .business .cell-wrapper .cell .cell-cnt {width: 398px;float: right;}
.index .business .cell-wrapper .cell .cell-cnt .cell-tt {font-size: 18px;line-height: 1em;height: 1em;margin-top: 18px;}
.index .business .cell-wrapper .cell .cell-cnt .cell-summary {color: #999999;font-size: 16px;line-height: 30px;padding-left: 9px;margin-top: 30px;}
.index .business .cell-wrapper .cell .first {padding: 18px 34px 0 18px;width: auto;margin-right: 4px;height: auto;}
.index .business .cell-wrapper .cell .first img {width: 629px;height: 473px;display: block;}
.index .business .cell-wrapper .cell.first .date {position: absolute;background-color: #fd9090;z-index: 99;top: 0;left: -13px;}
.index .business .cell-wrapper .cell .first .cell-cnt {display: none;}
.index .kjghnews {padding: 34px 0 69px;font-size: 0;}
.index .kjghnews .tit {text-align: center;font-size: 30px;color: #333;}
.index .tit .title {text-align: center;font-size: 16px;color: #a5a5a5;line-height: 30px;}
.index .tit .line {text-align: center;font-size: 28px;color: #E74F06;line-height: 30px;}
.index .kjghnews .cell-wrapper {font-size: 0;overflow: hidden;margin: 50px -15px 0;}
.index .kjghnews .cell-wrapper .cell {float: left;width: 350px;height: 460px;margin: 0 15px;}
.index .kjghnews .cell-wrapper .cell .tit{font-size: 25px;text-align: left;font-weight: 400;}
.index .kjghnews .cell-wrapper .cell .line{font-size: 32px;text-align: left;font-weight: 500;color: #333;line-height: 38px;margin-bottom: 8px;}
.index .kjghnews .cell-wrapper .cell.centre {margin: 0 60px;}
.index .kjghnews .cell-wrapper .cell .img {margin-bottom: 26px;width: 100%}
.index .kjghnews .cell-wrapper .cell .cell-txt {display: flex;font-size: 16px;color: #000000;line-height: 30px;}
.index .kjghnews .cell-wrapper .cell .lbl {}
.index .kjghnews .cell-wrapper .cell .cell-tit {flex: 1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 16px;color: #000;line-height: 30px;font-weight: 600;}
.index .kjghnews .cell-wrapper .cell .cell-txt .p {color: #a5a5a5;font-size: 14px;}
.index .kjghnews .cell-wrapper .cell .cell-txt .p .consult {color: #377ce3;}
.index .kjghnews .cell-wrapper .cell .cell-txt .more {color: #000;font-size: 16px;margin-top: 5px;}
.index .kjghnews .cell-wrapper .cell .cell-txt.primary {color: #000;}
.wrap {overflow: hidden;width: 100%;}
.product-list:hover .icon-wrap img {transform: scale(1.04);}
.product-list {border: 1px solid #fff;float: left;overflow: hidden;position: relative;width: 30%;}
.product-list img {overflow: hidden;position: relative;width: 100%;transition: 0.7s;}
.product-title p {font-size: 16px;}
.product-summary {font-size: 14px;color: #666666;line-height: 20px;}
.p-relative {padding-left: 4.3%;padding-right: 4.3%;position: relative;padding-bottom: 50px;padding-top: 30px;}
.miss_1 {color: #000000;font-size: 30px;height: 30px;padding-bottom: 25px;padding-top: 35px;text-align: center;}
.miss_2 {color: #969696;font-size: 16px;height: 40px;line-height: 40px;text-align: center;}
.miss_3 {background-color: #e74f06;height: 2px;margin: 0 auto;width: 40px;}
.miss_4 {color: #000000;font-size: 25px;height: 30px;padding-bottom: 25px;text-align: left;}
.miss_5 {background-color: #000;height: 2px;margin-bottom: 30px;width: 40px;}
.product-center {float: left;position: relative;width: 25%;}
.product-center .shi {overflow: hidden;position: relative;width: 100%;}
.bak_bj {position: absolute;left: 0;top: -3.5%;width: 100%;display: none;}
.on .bak_bj {display: block;}
.bak_bj a {position: relative;display: block;width: 100%;}
.bak_text {position: absolute;left: 0;top: 0;width: 100%;}
.bak_dt {width: 100%;}
.bak_text > p {color: #fff;font-size: 20px;padding: 0 20%;text-align: center;}
.bak_text li {color: #fff;padding: 1% 10%;line-height: 20px;}
.bak_img {margin: 27% 0 12%;}
.bak_tit {margin-bottom: 20%;}
.bak_text span {display: inline-block;float: left;}
.b_yu {width: 9%;}
.b_text {width: 90%}
.block {display: block;}
.text-left {text-align: left;}
.product-title p {
    font-size: 16px;
}
.p-relative .section{float: left;width: 30%;}
.p-relative .section + .section{margin-left: 4.5%;}

@media screen and (max-width: 1199px) and (min-width: 750px) {.container {width: 960px;}
    .index .news .container .aside {width: 278px;}
    .index .news .container .news-main {width: 656px;}
    .index .banner img {width: 1200px;}
}
@media screen and (max-width: 749px) {
    .container {width: 100% !important;max-width: 640px;min-width: 320px;padding: 0 12px;box-sizing: border-box;}
    .index .banner {margin-top: 12px;}
    .index .banner img {width: 100%;}
    /*.index .business .container .cell-wrapper .first img{width: 100%;}*/
    /*.index .kjghnews .cell-wrapper .cell {width: 295px;height: 460px;margin: auto;float: none;}*/
    /*.index .kjghnews .cell-wrapper .cell.centre {margin: 0 auto;}*/
    /*.index .kjghnews .cell-wrapper .cell .cell-txt .p .consult {color: #377ce3;display: block;}*/
    .miss_2.sub-miss{padding: 10px 20px 0;line-height: 20px;}
    .p-relative .product-center{width: 50%;}
    .p-relative .section{width: 100%;}
    .p-relative .section + .section{margin-left:0%;margin-top: 30px;border-top: 1px solid #dddddd;}
    .p-relative .section .miss_4{margin-top: 20px}

}