.header {height: 80px;background-color:rgba(0,0,0,.9);}
.header .header-w{display: flex;}
.header .avatar{margin-right: 52px;}
.header .avatar img{display: block;margin-top: 20px;}
.header .nav{flex: 1;}
.header .nav-w{font-size:0;margin-top: 26px;}
.header .nav-w a{color:#FFFFFF;display: block;}
.header .nav-w .item{display: inline-block;margin-left: 30px;position: relative;}
.header .nav-w .tt{font-size: 18px;line-height: 32px;}
.header .nav-w .tt a.active{border-bottom: 2px solid #ffffff;}
.header .nav-w .cnt{display: none;position: absolute;padding-top: 10px;box-sizing: border-box;background: url("../imgs/nav-border.png") 0 0 no-repeat;width: 84px;height: 65px;font-size: 12px;left: 50%;margin-left: -42px;}
.header .nav-w .cnt-w{display: flex;flex-direction: column;}
.header .nav-w .cnt.active{display: block;}
.header .nav-w .cnt a{height: 24px;line-height: 24px;text-align: center;}
.header .nav-w .cnt a + a{border-top: 1px solid #fff;}
.header .sign-in {margin-top:30px;display:block;background:url("../imgs/icon-user.png") no-repeat 0 0;color: #ffffff;font-size: 18px;line-height: 18px;padding-left: 25px;}

