blockquote, body, button, dd, dl, dt, fieldset, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {margin: 0;padding: 0;border: 0}
body, button, input, select, textarea {font-family: 'Microsoft Yahei', "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;font-size: 14px;color: #333}
button, input, select, textarea {outline: 0;}
html {line-height: 1;}
address, cite, em, i, var {font-style: normal;}
h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
h4, h5, h6 {font-size: 100%;}
li, ol, ul {list-style: none;}
a {text-decoration: none;color: #333;cursor: pointer}
ahover {text-decoration: none;color: #ef3838;transition-duration: .4s}
img {border: 0;vertical-align: middle;-ms-interpolation-mode: bicubic;width: 100%;}
.container {width: 1200px;margin: 0 auto}
.icon{display: inline-block}
.kaishi{width: 1000px;margin: auto; border: 1px solid #9fa5aa;background-color: #9fa5aa;}

.main{border-top-width: 2px;border-top: 1px solid #9fa5aa;}
.main_text {width: 998px;height: 305px;margin: 0 auto;}
.main_news {width: 690px;height: 283px;padding-top: 20px;border: 1px solid #D5D5D5;background-color: #fff;float: left;}
.news_center {width: 680px;height: 283px;margin: 0 auto;}
.news_title {width: 680px;height: 15px;text-align: right;padding-top: 5px;background-image: url(../imgs/imgszixun.png);background-repeat: no-repeat;}
.news_title a {color: #016DAD;}
em{ display: inline-block;content: '';width: 6px;height: 6px;font-size: 0;background-color: #0066b3;border-radius: 50%;}
.news_left {width: 310px;height: 234px;margin-top: 15px;text-align: center;padding: 3px 3px;border: 1px solid #D9D9D9;background-color: #F6F6F6;float: left;}
.news_right {width: 330px;height: 225px;margin-top: 15px;margin-left: 15px;float: left;}
.news {width: 350px;height: 18px;padding-top: 5px;}
.news_biaoti {width: 260px;text-align: left;height: 25px;float: left;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.main_gonggao {width: 299px;padding-top: 20px;margin-left: 5px;height: 283px;border: 1px solid #D5D5D5;float: left;background-color: white;}
.gonggao_center {width: 280px;height: 282px;margin: 0 auto;}
.gonggao_title {width: 290px;height: 15px;margin-bottom: 20px;text-align: right;padding-top: 5px;background-image: url(../imgs/imgs-Training.png);background-repeat: no-repeat;
}
.gonggao_title a {color: #016DAD;}
.gonggao {width: 280px;height: 19px;border-bottom: 1px dashed #BCBDBC;padding-top: 8px;}
.gonggao_biaoti {width: 192px;text-align: left;height: 15px;float: left;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.news_date {width: 80px;text-align: right;color: #000;float: left;}
.main_text1 {width: 998px;height: 240px;padding-top: 5px;margin: 0 auto;}
.text_left {width: 295px;height: 240px;float: left;background-color: white;}
tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
.fanwei {width: 83px;height: 15px;font-size: 13px;text-align: left;padding-top: 17px;float: left;font-weight: bold;}
.fanwei a {color: #4c4d4c;}
.text_center {width: 388px;/*background-image: url(../imgs/imgs-center.png);*/height: 238px;margin: 0px 5px 0px 5px;border: 1px solid #D5D5D5;float: left;background-color: white;}
.case_top {width: 371px;height: 15px;background-image: url(../imgs/imgs-center.png);text-align: right;padding-right: 17px;background-repeat: no-repeat;margin-top: 15px;}
.case-center{width: 388px;margin-top: 10px;}
/*.case-center a{display: inline-block;}*/
.case-center li{width: 96%;height: 70px;border-bottom: 1px solid #9fa5aa;padding: 10px 0;margin: auto;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.case-left{width: 50%;float: left;padding: 35px 0;font-size: 14px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;height: 30px;}
.case-right{width: 40%;float: right;}
.text_left {width: 298px;height: 240px;float: left;background-color: white;}
.zhinan {width: 250px;height: 19px;border-bottom: 1px dashed #BCBDBC;padding-top: 8px;}
.zhinan_biaoti {width: 165px;text-align: left;height: 15px;float: left;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.Bottom1{width: 998px;margin:1px auto;background-color: white;padding-top: 20px;}
.Bottom_title {width: 990px;height: 20px;text-align: right;background-image: url(../imgs/imgs-study0.png);background-repeat: no-repeat;padding-top: 10px;position: relative;}
.Bottom_title a {color: #016DAD;}
.Bottom1 li{width: 260px;margin-left: 20px;height: 300px;display: inline-block;margin-top: 20px;}
.Bottom1 img{width: 100%;height: 250px;}
.Bottom1 p{margin-top: 10px;font-size: 14px;width: 260px;height: 50px;word-wrap:break-word; overflow : hidden;text-overflow: ellipsis;}
element.style {
    width: 680px;
    text-align: center;
    margin-top: -5px;
}
.link {
    width: 998px;
    height: 45px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    border: 1px solid #C7C8C7;
    background-color: #FFF;
    margin-top: -4px;
}

.link_left {
    width: 80px;
    height: 32px;
    padding-top: 13px;
    text-align: right;
    float: left;
}

.link_right {
    width: 913px;
    height: 32px;
    padding-top: 13px;
    float: left;
}
img {
    border: none;
    text-align: center;
}
#container {
    width: 100%;
    height: 235px;
    overflow: hidden;
}
.sections,.section {
    height:100%;
}
#container,.sections {
    position: relative;
}
.section {
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    color: white;
}
#section0 {
    background-image: url('images/1.jpg');
}
#section1 {
    background-image: url('images/2.jpg');
}
#section2 {
    background-image: url('images/3.jpg');
}
#section3 {
    background-image: url('images/4.jpg');
}

.news_81 .banner .bannerimg{width: 100%;}
.news_81 .nav_ul li{display: inline-block;width: 19%;padding: 26px 0 16px 0;}
.news_81 .nav_ul .nav_item{text-align: center}
.news_81 .nav_ul .nav_item img{width: 50%;}
.news_81 .nav_ul .nav_item .nav_tit{padding: 10px 0;font-size: 14px;font-weight: bold;}
.news_81 .indexconterbg{width: 100%;height: 2549px;position: relative;}
.news_81 .indexconterbg .indexconter{position: absolute;top:30px;left: 0;right: 0;width: 1200px;margin: auto;}
.news_81 .indexconterbg .indexconter .item_a .aflontimg{display: inline-block;
    margin-left: 33px;width: 630px;height: 390px;overflow: hidden;}
.news_81 .indexconterbg .indexconter .item_a .itemlist{display: inline-block;width: 410px;color: #fff;margin-left: 50px;}
.news_81 .indexconterbg .indexconter .item_a .itemlist h1{font-size: 30px;padding: 20px 0;}
.news_81 .indexconterbg .indexconter .item_a .itemlist ul li{display: block;line-height: 36px;font-size: 18px;}
.news_81 .indexconterbg .indexconter .item_b{margin-top: 70px;position: relative;height: 1350px;}
.news_81 .indexconterbg .indexconter .item_b .bright{position: absolute;right: 0;width: 800px;margin-left: 50px;top: 100px;}
.news_81 .indexconterbg .indexconter .item_b .bright div{overflow: hidden;position: absolute;}
.news_81 .indexconterbg .indexconter .item_b .bright div img{width: 100%;}
.news_81 .indexconterbg .indexconter .item_b .bright .it1{width: 474px;height: 316px;top: 20px;left: 30px;}
.news_81 .indexconterbg .indexconter .item_b .bright .it2{width: 271px;height: 405px;right: 10px;}
.news_81 .indexconterbg .indexconter .item_b .bright .it3{width: 504px;height: 334px;top: 352px;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-delay:1s;  /**延迟动画**/
    animation-delay:1s; }
.news_81 .indexconterbg .indexconter .item_b .bright .it4{width: 260px;height: 319px;right: 10px;top: 420px; -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    -webkit-animation-delay:1s;  /**延迟动画**/
    animation-delay:1s; }
.news_81 .indexconterbg .indexconter .item_b .bright .it5{width: 284px;height: 420px;top: 704px;left: 26px;-webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-delay:2s;  /**延迟动画**/
    animation-delay:2s; }
.news_81 .indexconterbg .indexconter .item_b .bright .it6{width: 442px;height: 293px;top: 767px;
    right: 20px;-webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    -webkit-animation-delay:2s;  /**延迟动画**/
    animation-delay:2s; }
.news_81 .indexconterbg .indexconter .item_b .bleft{position: absolute;bottom: 114px;left: 92px;width: 270px;-webkit-animation-name: fadeInUpBig;animation-name: fadeInUpBig;-webkit-animation-delay:2s;  /**延迟动画**/animation-delay:2s;}
.news_81 .indexconterbg .indexconter .item_b .bleft h1{font-size: 24px;padding: 20px 0;}
.news_81 .indexconterbg .indexconter .item_b .bleft ul li{display: block;line-height: 24px;font-size: 14px;}
.news_81 .indexconterbg .indexconter .item_c{padding-top: 156px;width: 1200px;margin: auto;position: relative;}
.news_81 .indexconterbg .indexconter .item_c .aflontimg{display: inline-block;margin-left: 80px;width: 450px;vertical-align: middle;}
.news_81 .indexconterbg .indexconter .item_c .itemlist{width: 360px;color: #fff;margin-left: 150px;vertical-align: middle;position: absolute;right: 140px;top: 316px;}
.news_81 .indexconterbg .indexconter .item_c h1{font-size: 30px;padding: 20px 0;color: #fff;}
.news_81 .indexconterbg .indexconter .item_c p{line-height: 30px;font-size: 14px;color: #fff;}
.news_81 .indexconterbg .indexconter .item_c .ewmimg{text-align: right;}
.news_81 .indexconterbg .indexconter .item_c .ewmimg img{width: 140px;height: 140px;}
.news_81 .indexconterbg .indexconter .item_c .itemlist ul li{display: block;line-height: 30px;font-size: 18px;color: #fff;}
.news_81 .indexconterbg .indexconter .item_c .itemlist h2{font-size: 20px;}
.news_81 .indexconterbg .indexconter .item_c .weiimg{text-align: right;padding-top: 30px;}
.news_81 .indexconterbg .indexconter .item_c .weiimg img{margin: 0 5px;}

.bright .it .img-a{}
.bright .it .img-b{display: none}
/*.bright .it:hover .img-a{display: none}
.bright .it:hover .img-b{display: block}*/
