blockquote, body, button, dd, dl, dt, fieldset, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {margin: 0;padding: 0;border: 0}
body, button, input, select, textarea {font-family: 'Microsoft Yahei', "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;font-size: 14px;color: #333}
button, input, select, textarea {outline: 0;}
html {line-height: 1;}
address, cite, em, i, var {font-style: normal;}
h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
h4, h5, h6 {font-size: 100%;}
li, ol, ul {list-style: none;}
a {text-decoration: none;color: #333;cursor: pointer}
ahover {text-decoration: none;color: #ef3838;transition-duration: .4s}
img {border: 0;vertical-align: middle;-ms-interpolation-mode: bicubic}
.container {width: 1200px;margin: 0 auto}
.icon {display: inline-block;}

.clearfix:after {clear: both;display: block;content: "";height: 0;}
.overflow-hidden {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;word-break: break-all;}
.tag {display: inline-block !important;border: 1px solid #1f86ed;border-radius: 4px;background-color: #f4f8fd;color: #0a539a;line-height: 1;}
*, :after, :before {box-sizing: border-box;margin: 0;}
.m-cover {background-size: cover;background-position: 50%;background-repeat: no-repeat;}
p {margin: 0 0 10px;}
.pull-right{float: right!important;}
.pull-left{float: left!important;}
.zcmore:hover{color: #0066cc;}

.news_815{background-color: #f2f7fb;}
.clearf {content: "";display: block;clear: both;}
.banner{margin-top: 80px;}
.zckaishi{width: 1200px;margin: auto;}
.weizhi1{width: 100%;height: 40px; margin-top:20px;position: relative;font-size: 16px;border-bottom: 2px solid #dedede;}
.weizhi1 .weizhileft{display: inline-block;width: 600px;font-weight: bold;}
.weizhi1 .weizhiright{display: inline-block;width: 590px;position: relative}
.weizhi1 .weizhiright .weizhirightbox{width: 520px;margin: auto;height: 34px;line-height: 34px;}
.weizhi1 .weizhiright .weizhirightbox ul li{display: inline-block;width: 100px;text-align: center;}
.weizhi1 .weizhiright .weizhirightbox ul li .active{color: #0066b3;border: 1px solid #0066B3;border-radius:8px;padding: 2px 14px;}
.weizhi1 .weizhiright .leftbtn{
    position: absolute;left: 0;font-size: 20px;top:6px;cursor: pointer}
.weizhi1 .weizhiright .rightbtn{
    position: absolute;right: 0;font-size: 20px;top:6px;cursor: pointer}
.weizhi1 a{color: rgb(0,104,175)}
.suozai{float: left;color: black;}
.shouye{float: left;}
.wenzi{color: black}
.zcneirong{width: 100%;margin: 40px 0;border: 1px solid rgb(160,160,160);position: relative;}
.zcneirong .datam{position: absolute;top:32px;padding: 0 70px;left: 168px;}
.zcneirong .datam ul li{font-size: 20px;color: #0066B3;}
.zcneirong .datam ul li .datatit{font-size: 40px;}
.zcneirong .datam .jiantuoleft{position: absolute;left: 0;
    width: 46px;top:0;cursor: pointer;}
.zcneirong .datam .jiantuoright{position: absolute;right: 0;
    width: 46px;top:0;cursor: pointer;}
.zcneirong .item .itemimg{width: 244px;height: 180px;display: inline-block;}
.zcneirong .item .itemimg img{width: 212px;height: 144px;}
.zcbox li:nth-child(odd){
    margin-left: 570px;height: 180px;
}
.zcbox li:nth-child(even){
    margin-right: 570px;height: 180px;
}
.zcbox li:nth-child(odd) .itemimg{background-image: url("../imgs/itemright.png");padding: 20px 0px 20px 27px;background-repeat: no-repeat;background-size: contain;}
.zcbox li:nth-child(even) .itemimg{background-image: url("../imgs/itemleft.png");padding: 20px 32px 20px 0px;background-repeat: no-repeat;background-position-x: 212px;background-size: contain;float: right;}
/*.zcneirong .itemright{margin-left: 570px;height: 180px;}
.zcneirong .itemleft{margin-right: 570px;height: 180px;}*/
/*.zcneirong .itemleft .itemimg{background-image: url("../imgs/itemleft.png");padding: 20px 27px 20px 0px;background-repeat: no-repeat;background-position-x: 216px;background-size: contain;}
.zcneirong .itemright .itemimg{background-image: url("../imgs/itemright.png");padding: 20px 0px 20px 27px;background-repeat: no-repeat;background-size: contain;}*/
.zcneirong .item .itemtitle{display: inline-block;
    width: 376px;padding:20px;vertical-align: middle;}
.zcneirong .item .itemtitle .data{color: #999;padding: 10px 0;}
.zcneirong .item .itemtitle .more{color: #999;padding: 10px 0;display: block;}
.zcneirong .item .itemtitle .tit{color: #000000;padding: 10px 0;height: 60px;line-height: 20px;}
.zcui li{width: 96%;margin: auto;height:250px;border-bottom: 1px dashed  rgb(160,160,160); }
.tupian{width: 31%;height: 220px;float: left;margin: 15px 0;}
.zcwenzi{width: 65%;float: right;}
.biaoti{font-size: 20px;margin-top: 40px;}
.zcjieshao{margin: 30px 0;word-wrap:break-word; overflow : hidden;text-overflow: ellipsis;  display:
        -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;font-size: 16px;}
.zcriqi{margin-top: 40px;font-size: 16px;}
.list-pagination{width: 100%;}
.pagination{padding: 30px 0;margin: 10px 30%;display: block;}
ul.pagination li  {color: black;float: left;padding: 0px 3px;}
ul.pagination li a{color:rgb(31,134,237);text-decoration: none;}
.ye{margin-top: -3px;position: relative}
.btn.prev,
.btn.next{width: 46px;height: 46px;display: block;background-size: cover}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .container {width: 1000px;margin:0 10px 0 14px;}

}