blockquote, body, button, dd, dl, dt, fieldset, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {margin: 0;padding: 0;border: 0}
body, button, input, select, textarea {font-family: 'Microsoft Yahei', "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;font-size: 14px;color: #333}
button, input, select, textarea {outline: 0;}
html {line-height: 1;}
address, cite, em, i, var {font-style: normal;}
h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
h4, h5, h6 {font-size: 100%;}
li, ol, ul {list-style: none;}
a {text-decoration: none;color: #333;cursor: pointer}
ahover {text-decoration: none;color: #ef3838;transition-duration: .4s}
img {border: 0;vertical-align: middle;-ms-interpolation-mode: bicubic}
.container {width: 1200px;margin: 0 auto}
.icon {display: inline-block;}

.clearfix:after {clear: both;display: block;content: "";height: 0;}
.overflow-hidden {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;word-break: break-all;}
.tag {display: inline-block !important;border: 1px solid #1f86ed;border-radius: 4px;background-color: #f4f8fd;color: #0a539a;line-height: 1;}
*, :after, :before {box-sizing: border-box;margin: 0;}
.m-cover {background-size: cover;background-position: 50%;background-repeat: no-repeat;}
p {margin: 0 0 10px;}
.pull-right{float: right!important;}
.pull-left{float: left!important;}

/*
.list-pagination {text-align: right;}
.list-pagination .pagination {display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;}
.list-pagination .pagination li {display: inline;}
.list-pagination .pagination a {position: relative;float: left;padding: 6px 12px;line-height: 1.42857143;text-decoration: none;background-color: #fff;border: 1px solid #ddd;margin-left: 5px;margin-right: 5px;border-color: #d6d6d6;border-width: 2px;color: #1f86ed;font-weight: 700;}
.list-pagination .pagination li.active a {background-color: #1f86ed;color: #fff;border-color: #1f86ed;}
.item-catalog-container {margin-top: 30px;margin-bottom: 28px;width: 100%;}
.item-catalog-container .catalog-item {display: inline-block;}
.item-catalog-container .catalog-item a {display: inline-block !important;margin-left: 10px;margin-right: 5px;font-size: 14px;color: #707070 !important;}
.item-catalog-container .catalog-item a.nuxt-link-active {}

.item-catalog-container .divider {}

.news_82 {background-color: #ffffff;font-size: 14px;line-height: 1.42857143;}
.news_82 a {display: block;color: #337ab7;text-decoration: none;}
.news_82 .btn {display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}

.news_82 .ad-wrapper {background: url(../imgs/bg-header-technologies.jpg) no-repeat 50%;background-size: cover;color: #fff;height: 450px;}
.news_82 .ad-wrapper .ad-content {display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;-ms-flex-pack: center;justify-content: center;-ms-flex-align: center;align-items: center;padding-bottom: 30px;height: 380px;width: 100%;}
.news_82 .ad-wrapper .header-content{padding-top: 70px;}
.news_82 .ad-wrapper .ad-content .title {margin-top: 0;margin-bottom: 40px;font-size: 33px;font-weight: 700;letter-spacing: 1px;text-align: center;}
.news_82 .ad-wrapper .ad-content .text {text-align: center;font-size: 18px;}
.news_82 .ad-wrapper .ad-content .searchbar-container {display: flex;position: relative;width: 675px;height: 44px;background-color: #fff;}
.news_82 .ad-wrapper .ad-content .searchbar-text {padding: 0 38px 0 24px;width: 100%;height: 44px;background-color: transparent;font-size: 18px;border-radius: 4px;border: 1px solid #fff;letter-spacing: 1px;color: #999;}
.news_82 .ad-wrapper .ad-content .btn-search {width: 120px;background-color: #156fb8;border-color: #156fb8;font-size: 20px;color: #fff;}

.news_82 .list {padding: 22px 0;}
.news_82 .list .list-header {position: relative;min-height: 200px;}
.news_82 .list .list-header .filter-wrapper {width: 100%;padding: 15px 0 15px 30px;text-align: center;border: 1px solid #efefef;background-color: #fafafa;}
.news_82 .list .list-header .filter {position: relative;margin-bottom: 0;list-style: none;color: #707070;font-size: 14px;text-align: left;height: 55px;overflow: hidden;transition: height .1s;}
.news_82 .list .list-header .filter-label {position: absolute;height: 45px;line-height: 45px;font-weight: 700;}
.news_82 .list .list-header .filter-items {position: relative;padding-left: 94px;}
.news_82 .list .list-header .filter-item {display: inline-block;margin-top: 8px;margin-right: 16px;}
.news_82 .list .list-header .item-content {cursor: pointer;display: inline-block;}
.news_82 .list .list-header .item-content span {position: relative;display: block;padding: 7px 12px;line-height: 1;overflow: hidden;}
.news_82 .list .list-header .item-content span.no-limit {}
.news_82 .list .list-header .item-content.active {}
.news_82 .list .list-header .item-content.active span {background-color: #e3f1ff;color: #0a539a;outline: 1px solid #4dafed;}

.news_82 .list .list-wrapper {}
.news_82 .list .list-wrapper .sort-list {margin-top: 30px;width: 100%;height: 40px;border-bottom: 1px solid #d7d6d6;}
.news_82 .list .list-wrapper .sort-list-item {float: left;margin-right: -1px;width: 100px;height: 40px;line-height: 40px;border: 1px solid #d7d6d6;border-bottom: none;text-align: center;cursor: pointer;color: #707070;}
.news_82 .list .list-wrapper .sort-list-item.active {box-shadow: inset 0 4px 0 #1f86ed;border-top-color: #1f86ed;border-bottom: 1px solid #fff;color: #1f86ed;}
.news_82 .list .list-wrapper .sort-list-item.sort-childlist-container {}
.news_82 .list .list-wrapper .sort-list-item b {font-weight: 700;}
.news_82 .list .list-wrapper .sort-list-item .m-icon {}
.news_82 .list .list-wrapper .sort-list-item i.iconfont.icon-paixu {}
.news_82 .list .list-wrapper .sort-list-item .sort-childlist {display: none;position: relative;top: -3px;margin-left: -1px;margin-right: -1px;background: #fff;border: 1px solid #d6d6d6;border-top-color: #fff;z-index: 998;}
.news_82 .list .list-wrapper .sort-list-item .sort-childlist .sort-childlist-item {height: 25px;line-height: 25px;font-size: 13px;color: #747474;}

.news_82 .list .list-wrapper .technology-list{text-align: left;}
.news_82 .list .list-wrapper .technology-list:after{display: table;content: " ";clear: both;}
.news_82 .list .list-wrapper .technology-list-item{padding: 0 10px;width: 25%;float: left;position: relative;margin-top: 35px;min-height: 260px;}

.news_82 .list .list-wrapper .technology-list-item a.list-item-wrapper {position: relative;border: 1px solid #eee;}
.news_82 .list .list-wrapper .technology-list-item .m-cover {z-index: 10;position: relative;width: 100%;height: 155px;background-color: #1f86ed;}
.news_82 .list .list-wrapper .technology-list-item .list-item-content {position: relative;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;-ms-flex-pack: distribute;justify-content: space-around;padding: 10px;width: 100%;height: 175px;color: #898989;font-size: 15px;line-height: 20px;z-index: 9;}
.news_82 .list .list-wrapper .technology-list-item .list-item-content .list-item-title {margin-top: 0;margin-bottom: 0;height: 50px;line-height: 25px;font-size: 20px;color: #333;overflow: hidden;font-weight: 500;}
.news_82 .list .list-wrapper .technology-list-item .list-item-content .list-item-text-container {margin-bottom: 0;width: 100%;font-size: 15px;}
.news_82 .list .list-wrapper .technology-list-item .list-item-content .m-icon {margin-right: 4px;vertical-align: -2px;display: inline-block;height: 20px;text-align: center;font-size: 16px;}
.news_82 .list .list-wrapper .technology-list-item .list-item-content .cooperation-tag {margin-left: 10px;padding: 0 8px;border-radius: 2px;font-size: 12px;color: #fb6d20;background-color: #fdd8be;}
.news_82 .list .list-wrapper .technology-list-item .list-item-content .maturity-tag {padding: 0 8px;border-radius: 2px;font-size: 12px;color: #1f86ed;background-color: #c6e8fe;}
.news_82 .list .list-wrapper .technology-list-item .list-item-caption {display: none;position: absolute;top: -4px;left: 0;height: 335px;width: 100%;background-color: rgba(0,0,0,.8);z-index: 11;}
.news_82 .list .list-wrapper .technology-list-item .list-item-caption .text-container {padding: 86px 24px;width: 100%;height: 265px;color: #fff;font-size: 16px;}
.news_82 .list .list-wrapper .technology-list-item .list-item-caption div.text {width: 100%;height: 100px;}
.news_82 .list .list-wrapper .technology-list-item .list-item-caption .contact-content {padding: 16px 74px;width: 100%;height: 70px;line-height: 24px;border-top: 1px solid #eee;color: #f0b74d;text-align: center;}
.news_82 .list .list-wrapper .technology-list-item .list-item-caption .m-icon.m-icon-tel {float: left;margin-right: 10px;height: 30px;width: 30px;line-height: 26px;font-size: 30px;}
.news_82 .list .list-wrapper .technology-list-item .list-item-caption .iconfont.icon-dianhua {}
.news_82 .list .list-wrapper .technology-list-item .list-item-caption span.text {font-size: 17px;line-height: 30px;}
.news_82 .list .list-wrapper .technology-list-item a.list-item-wrapper:hover .list-item-caption {display: block;}
*/


.clearf {content: "";display: block;clear: both;}
.kaishi{width: 100%;background-color: #f2f7fb;}
.jishutop{width:100%;height: 420px;background-position: center top;position: relative;margin-top:80px;}
.container{width:1200px;margin: auto;}
.weizhi1{width: 100%;height: 20px; margin-top:100px;position: relative;font-size: 16px;}
.weizhi1 a{color: rgb(0,104,175)}
.suozai{float: left;color: black}
.shouye{float: left;}
.wenzi{color: black}
.kuang{width: 100%;height: 50px;margin: 20px 0;border: 1px solid  rgb(160,160,160);}
.kuang ul{width: 100%;list-style: none;}
.kuang li{padding: 15px 0px;display: inline-block;}
.yiyi{text-indent: 5px;}
.kuang a{color: black;}
.buxian {width: 20px;height: 20px; border:1px solid rgba(0,104,175,0.5);background:rgba(227,241,255,0.5);}
.shouzhaopian{width: 100%;position: relative;}
.libiao{width: 50%;float: left;}
.libiao1{width: 50%;float: right;height: 350px;}
.tupian1{width: 600px;height:350px; }
.xiawenziba{height: 350px;background-color: white;width: 100%;}
.zcbiaojian{width: 50px;height: 128px;margin-left: 520px;position: relative;margin-top: -354px;}
.biaoti1{height: 40px; font-size: 20px; font-weight: 700;width: 530px; position: absolute;margin-top: 80px;margin-left: 40px;}
.zhongwenzi1{width: 530px;height: 143px;font-size: 16px;position: absolute; word-wrap:break-word; overflow : hidden;text-overflow: ellipsis;  display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;margin-top: 130px;margin-left: 40px;line-height: 30px;}
.mingzi1{width:550px; position: absolute;margin-top: 280px;margin-left: 40px;font-weight: 700;}
.zhaoui{width: 100%;}
.zhaoli{width: 31%;height: 310px;margin: 30px 12px;display: inline-block;}
.zhaoli.item {display: none;}
.zhaoli.item.active {display: inline-block;}
.tupian{width: 100%;height: 194px;background: no-repeat center center;background-size: cover;}
.xiawenzi{width: 372px;height: 100px;position: absolute; background-color: white;}
.biaoti{height: 40px; font-size: 16px; font-weight: 700;width: 352px; position: relative;margin: 10px 10px;}
.mingzi{width: 372px;text-indent: 10px;}
p{color: black;}
.anniu{margin: 20px 0;margin-left: 45%;}
button{width: 100px;padding: 10px 10px;border-radius: 5px;color: #0b69b7;background-color: white;border: 1px solid #0b69b7; }
.ye{margin-top: -3px;position: relative}
.kuang{height: auto;padding: 10px 0;}
.selector{display: flex;}
.selector .selector-title{padding: 15px 13px;}
.selector .selector-items{flex: 1;}
.selector .selector-items li span{cursor: pointer;border:1px solid transparent;padding: 4px 8px;}
.selector .selector-items li.active{}
.selector .selector-items li.active span{border-color:rgba(0,104,175,0.5);}

@media screen and (max-width: 1119px) and (min-width: 769px) {
    .container {width: 1000px;margin: 0 10px 0 14px;}
    .zhaoli{width: 31%;margin: 20px 10px;}
    .kuang li{padding: 15px 4px;display: inline-block; }
    .xiawenzi{width: 310px;}
    .biaoti1{width: 450px;}
    .zhongwenzi1{width: 450px;}
    .mingzi1{width:450px;}
    .zcbiaojian{margin-left: 430px;}
}

@media screen and (max-width: 768px) and (min-width: 750px) {
    .index .news .container .aside {
        width: 278px;
    }

    .index .news .container .news-main {
        width: 456px;
    }

    .index .cell .item {
        width: 340px;
    }
}

@media screen and (max-width: 749px) {

}
