blockquote, body, button, dd, dl, dt, fieldset, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {margin: 0;padding: 0;border: 0}
body, button, input, select, textarea {font-family: 'Microsoft Yahei', "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;font-size: 14px;color: #333}
button, input, select, textarea {outline: 0;}
html {line-height: 1;}
address, cite, em, i, var {font-style: normal;}
h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
h4, h5, h6 {font-size: 100%;}
li, ol, ul {list-style: none;}
a {text-decoration: none;color: #333;cursor: pointer}
ahover {text-decoration: none;color: #ef3838;transition-duration: .4s}
img {border: 0;vertical-align: middle;-ms-interpolation-mode: bicubic}
.container {width: 1200px;margin: 0 auto}
.icon {display: inline-block;}

.clearfix:after {clear: both;display: block;content: "";height: 0;}
.overflow-hidden {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;word-break: break-all;}
.tag {display: inline-block !important;border: 1px solid #1f86ed;border-radius: 4px;background-color: #f4f8fd;color: #0a539a;line-height: 1;}
*, :after, :before {box-sizing: border-box;margin: 0;}
.m-cover {background-size: cover;background-position: 50%;background-repeat: no-repeat;}
p {margin: 0 0 10px;}
.pull-right{float: right!important;}
.pull-left{float: left!important;}


.list-pagination {text-align: right;}
.list-pagination .pagination {display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;}
.list-pagination .pagination li {display: inline;}
.list-pagination .pagination a {position: relative;float: left;padding: 6px 12px;line-height: 1.42857143;text-decoration: none;background-color: #fff;border: 1px solid #ddd;margin-left: 5px;margin-right: 5px;border-color: #d6d6d6;border-width: 2px;color: #1f86ed;font-weight: 700;}
.list-pagination .pagination li.active a {background-color: #1f86ed;color: #fff;border-color: #1f86ed;}
.item-catalog-container {margin-top: 30px;margin-bottom: 28px;width: 100%;}
.item-catalog-container .catalog-item {display: inline-block;}
.item-catalog-container .catalog-item a {display: inline-block !important;margin-left: 10px;margin-right: 5px;font-size: 14px;color: #707070 !important;}
.item-catalog-container .catalog-item a.nuxt-link-active {}

.item-catalog-container .divider {}
.left {float: left;}
.right{float: right;}
.m-avatar {position: relative;margin: 0 auto;width: 132px;min-width: 132px;height: 132px;line-height: 126px;border-radius: 132px;background-color: #999;color: #666;text-align: center;font-size: 58px;}

.news_81 {background-color: #ffffff;font-size: 14px;line-height: 1.42857143;}
.news_81 a {display: block;color: #337ab7;text-decoration: none;}
.news_81 .btn {display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}
.news_81 .holy-grail {margin: 0 auto;max-width: 1200px;width: 100%;}

.news_81 .ad-wrapper {position: relative;background: no-repeat 50%;background-size: cover;color: #fff;height: 450px;overflow: hidden;}
.news_81 .ad-wrapper .banner-content {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.8);z-index: 1;}
.news_81 .ad-wrapper .banner-content .image {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-repeat: no-repeat;background-size: cover;background-position: bottom;opacity: 0;z-index: 0;transition: opacity .5s ease-in-out;}
.news_81 .ad-wrapper .banner-content .image.active {opacity: 1;z-index: 1;}

.news_81 .ad-wrapper .banner-caption {position: relative;width: 1200px;height: 100%;margin: 0 auto;}
.news_81 .ad-wrapper .caption-list {display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: space-between;position: absolute;left: 0;bottom: 0;width: 100%;line-height: 47px;height: 3px;overflow: hidden;text-align: center;transition: height .2s ease-out;z-index: 2;}
.news_81 .ad-wrapper .caption-list-item {width: 33.3333%;background-color: rgba(0,0,0,.2);cursor: pointer;}
.news_81 .ad-wrapper .caption-list-item.active {background-color: rgba(245,166,35,.8);}
.news_81 .ad-wrapper:hover .caption-list{height: 47px;}
.news_81 .ad-wrapper .tab-container {position: absolute;right: 0;bottom: 73px;padding: 0 15px;width: 342px;height: 282px;background-color: rgba(0,0,0,.6);z-index: 2;color: #999;}
.news_81 .ad-wrapper .tab-container .tab-header {display: -ms-flexbox;display: flex;-ms-flex-pack: distribute;justify-content: space-around;height: 50px;line-height: 50px;border-bottom: 1px solid hsla(0,0%,100%,.3);}
.news_81 .ad-wrapper .tab-container .tab-header-item {position: relative;bottom: -2px;width: 70px;text-align: center;cursor: pointer;}
.news_81 .ad-wrapper .tab-container .tab-header-item.active {color: #fff;border-bottom: 2px solid #fff;}
.news_81 .ad-wrapper .tab-container .tab-body {height: 182px;padding: 15px 0;}
.news_81 .ad-wrapper .tab-container .tab-body-item {position: relative;}
.news_81 .ad-wrapper .tab-container .tab-body-item a {color: inherit;height: 45px;line-height: 30px;}
.news_81 .ad-wrapper .tab-container .tab-body-item a .text{display: none;font-size: 12px;}

.news_81 .ad-wrapper .tab-container .tab-body-item:hover a{display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;-ms-flex-pack: distribute;justify-content: space-around;margin-right: -15px;padding: 3px 0;background-color: #fff;line-height: 1.4;}
.news_81 .ad-wrapper .tab-container .tab-body-item:hover:before{content: "";position: absolute;left: -28px;height: 45px;width: 28px;background-color: #fff;}
.news_81 .ad-wrapper .tab-container .tab-body-item:hover:after {content: ""; position: absolute; left: -28px; height: 7px; width: 13px; border-top: 7px solid #b5b5b5; border-left: 13px solid transparent;}

.news_81 .ad-wrapper .tab-container .tab-footer {height: 50px;line-height: 50px;color: #fff;border-top: 1px solid hsla(0,0%,100%,.3);}
.news_81 .ad-wrapper .tab-container .tab-footer .m-icon {margin-right: 10px;font-size: 20px;}
.news_81 .ad-wrapper .tab-container .tab-footer .iconfont.icon-new {}
.news_81 .ad-wrapper .tab-container .tab-footer .text {font-size: 14px;text-decoration: underline;}
.news_81 .ad-wrapper .tab-container .tab-footer .count {font-size: 18px;}

.news_81 .info-bar {height: 50px;line-height: 50px;background-color: rgba(2,2,2,.5);color: #fff;}
.news_81 .info-bar .info-bar-wrapper {display: -ms-flexbox;display: flex;-ms-flex-pack: distribute;justify-content: space-around;}
.news_81 .info-bar .placeholder-block {flex: 1;}
.news_81 .info-bar .m-icon {line-height: 47px;font-size: 16px;}
.news_81 .info-bar .iconfont.icon-xitongtongzhi {}
.news_81 .info-bar .text-list-container {height: 50px;overflow: hidden;}
.news_81 .info-bar .text-list {position: relative;width: 450px;animation: loop2 50s linear infinite;}
.news_81 .info-bar .text-list .text {height: 50px;line-height: 50px;font-size: 16px;}
.news_81 .info-bar .text-list .text a {display: inline-block;text-decoration: underline;color: #f7b52d;}

/* ===== section-block ===== */
.news_81 .section-block{padding-top: 80px;padding-bottom: 80px;}
.news_81 .section-block > .head {position: relative;margin: auto;margin-bottom: 58px;text-align: center;transition: all .2s ease;}
.news_81 .section-block > .head h2 {display: inline-block;position: relative;margin-top: 0;margin-bottom: 20px;font-size: 36px;font-weight: 700;background-color:#fff;color: #666;z-index: 2;line-height: 1.1;}
.news_81 .section-block > .head h2:before,
.news_81 .section-block > .head h2:after{content: " ";position: absolute;top: 18px;width: 60px;height: 1px;background-color: #ccc;}
.news_81 .section-block > .head h2:before{left: -80px;}
.news_81 .section-block > .head h2:after{right: -80px;}
.news_81 .section-block > .head .head-text {width: 500px;margin: 0 auto;text-align: center;font-size: 16px;color: #666;}

.news_81 .section-block .tab-container {margin-top: 30px;}
.news_81 .section-block .tab-container .tab-text {cursor: pointer;}
.news_81 .section-block .tab-container .tab-divider {margin: 0 10px;}
.news_81 .section-block .tab-container .tab-text.active {color: #1f86ed;text-decoration: underline;}
.news_81 .section-block .tab-container .tab-link{display: inline-block;color: #333;}
.news_81 .section-block .btn.btn-black {background-color: transparent;border-color: #333;color: #4f5457;display: block;width: 170px;height: 38px;line-height: 24px;border-radius: 0;margin: 40px auto;}

/* ============ nav-section ============ */
.news_81 .nav-section {padding: 20px 0;background-color: #f5f5f5;}
.news_81 .nav-section .holy-grail {display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: space-between;max-width: 1200px;margin: 0 auto;}
.news_81 .nav-section .nav-item {display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;-ms-flex-pack: distribute;justify-content: pace-around;padding: 0 10px;width: 236px;height: 110px;background-color: #fff;cursor: pointer;}
.news_81 .nav-section .nav-item:hover {box-shadow: 0 0 4px rgba(0,0,0,.3);}
.news_81 .nav-section .title {margin-bottom: 6px;font-size: 24px;font-weight: 700;color: #666;}
.news_81 .nav-section .text {margin-bottom: 0;color: #999;}
.news_81 .nav-section .m-icon {height: 56px;width: 56px;line-height: 56px;font-size: 56px;}

/* ============ technology-section ============ */
.news_81 .technology-section {position: relative;z-index: 1;padding-bottom: 0;height: 647px;}
.news_81 .technology-section .technology-list {display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: space-between;width: 100%;}
.news_81 .technology-section .technology-list .technology-list-item-simple {margin-top: 0;width: 25%;max-width: 285px;padding: 0;position: relative;}
.news_81 .technology-section .technology-list .technology-list-item-simple .list-item-prefix {position: absolute;top: -3px;left: 39px;padding: 5px 10px;height: 55px;width: 70px;background: no-repeat 50%;background-size: cover;z-index: 11;color: #fff;font-size: 18px;text-align: center;line-height:1.2;width: 58px;height: 44px;top: -2px;font-size: 14px;left: 12px;}
.news_81 .technology-section .technology-list .technology-list-item-simple .list-item-wrapper {border: 1px solid #eee;overflow: hidden;}
.news_81 .technology-section .technology-list .technology-list-item-simple .m-cover {z-index: 10;position: relative;width: 380px;height: 213px;background-color: #1f86ed;width: 100%;height: 160px;}
.news_81 .technology-section .technology-list .technology-list-item-simple .list-item-content {position: relative;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;-ms-flex-pack:distribute;justify-content: space-around;padding: 10px;width: 100%;height: 124px;color: #898989;font-size: 15px;line-height:20px;z-index: 9;height: 80px;}
.news_81 .technology-section .technology-list .technology-list-item-simple .list-item-title {margin-top: 0;margin-bottom: 0;height: 50px;line-height: 25px;font-size: 20px;color: #333;overflow: hidden;font-weight: 500;}
.news_81 .technology-section .technology-list .technology-list-item-simple .list-item-text-container {margin-bottom: 0;width: 100%;font-size: 15px;display: none;}
.news_81 .technology-section .technology-list .technology-list-item-simple .m-icon {}
.news_81 .technology-section .technology-list .technology-list-item-simple .maturity-tag {}

/* ============ expert-section ============ */
.news_81 .expert-section {}
.news_81 .expert-section .institutions-container {}
.news_81 .expert-section .expert-list {border-collapse: separate;text-align: center;}
.news_81 .expert-section .expert-list tr {}
.news_81 .expert-section .expert-list td {position: relative;width: 307px;height: 350px;vertical-align: top;}
.news_81 .expert-section .expert-list td + td{border-left: 1px solid #eee;}
.news_81 .expert-section .expert-list .expert-info {height: 350px;}
.news_81 .expert-section .expert-list .expert-info  .m-avatar {height: 116px;width: 116px;min-width: 116px;border-radius: 116px;border: 1px solid #666;}
.news_81 .expert-section .expert-list .expert-info  .m-avatar:before{content: " ";position: absolute;top: -6px;left: -6px;width: 144px;height: 144px;border-radius: 144px;border: 1px solid #dadada;top: 0;left: 0;height: 114px;width: 114px;border-radius: 114px;border: 8px solid #fff;}
.news_81 .expert-section .expert-list .expert-info  h3.name {margin-top: 18px;margin-bottom: 18px;font-size: 24px;color: #111d23;}
.news_81 .expert-section .expert-list .expert-info  p.institution {margin-bottom: 20px;font-size: 18px;color: #666;}
.news_81 .expert-section .expert-list .expert-info  .tag-container {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-pack: justify;justify-content: space-between;padding: 0 55.5px;width: 306px;overflow: hidden;text-align: left;}
.news_81 .expert-section .expert-list .expert-info  span.tag.overflow-hidden {display: inline-block;margin-bottom: 9px;padding: 0 14px;min-width: 90px;max-width: 194px;height: 30px;line-height: 30px;text-align: center;border-radius: 0;font-size: 15px;background-color: transparent;color: #849194;border: 1px solid #849194;}

.news_81 .expert-section .expert-list .expert-info-caption {display: none;position: absolute;top: 0;right: 0;padding: 55px 55.5px 48px;width: 307px;height: 350px;background-color: #5877a4;z-index: 11;color: #fff;-ms-flex-pack: center;justify-content: center;-ms-flex-align: center;align-items: center;}
.news_81 .expert-section .expert-list .expert-info-caption div {}
.news_81 .expert-section .expert-list .expert-info-caption .text {height: 90px;overflow: hidden;margin: 0 auto;width: 180px;font-size: 14px;line-height: 2.2;color: #fff;text-align: left;}
.news_81 .expert-section .expert-list .expert-info-caption .m-link {font-size: 21px;color: #fff;display: block;margin-top: 50px;text-align: center;}
.news_81 .expert-section .expert-list .expert-info-caption .m-icon {display: inline-block;margin-left: 7px;font-size: 21px;vertical-align: .5px;}
.news_81 .expert-section .expert-list .expert-info-caption .iconfont.icon-chakanxiangqing {}

.news_81 .expert-section .expert-list td:hover .expert-info-caption {display: flex;}

/* ===== activity-section ===== */
.news_81 .activity-section {}
.news_81 .activity-section .body{background-color: #f5f5f5;}
.news_81 .activity-section .holy-grail{display: flex;height: 360px;background-image: url(../imgs/index-activity.jpg);background-size: 100% 100%;}
.news_81 .activity-section .activity-item {-ms-flex: 1;flex: 1;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;-ms-flex-pack: center;justify-content: center;color: #fff;}
.news_81 .activity-section .activity-item .activity-item-wrapper {margin-top: 100px;height: 240px;text-align: center;overflow: hidden;transition: all .2s cubic-bezier(.4,0,.2,1);}
.news_81 .activity-section .activity-item .m-icon {display: block;height: 90px;font-size: 62px;}
.news_81 .activity-section .activity-item .text {font-size: 20px;font-weight: 700;letter-spacing: 4px;}
.news_81 .activity-section .activity-item .btn.btn-transparent {display: block;background-color: transparent;border-color: #fff;color: #ffffff;margin: 40px auto 0;width: 102px;height: 32px;border-radius: 0;font-size: 12px;opacity: 0;transition: all .3s cubic-bezier(.4,0,.2,1);}
.news_81 .activity-section .activity-item:hover {background-color: rgba(52,126,202,.8);}
.news_81 .activity-section .activity-item:hover .btn.btn-transparent {margin-top: 20px;opacity: 1;}
.news_81 .activity-section .activity-item .btn.btn-transparent:hover{background-color: #fff;color: #666;}

/* ===== edu-section ===== */
.news_81 .edu-section {}
.news_81 .edu-section .edu-list {display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: space-between;}
.news_81 .edu-section .article-item {position: relative;margin-bottom: 20px;width: 290px;height: 262px;color: #fff;border: 1px solid #eee;overflow: hidden;}
.news_81 .edu-section .m-cover-img-container {width: 290px;height: 180px;overflow: hidden;}
.news_81 .edu-section .img-animate.m-cover-img {width: 290px;min-height: 100%;}
.news_81 .edu-section .title {padding: 20px 20px 0px;width: 100%;height: 64px;line-height: 23px;font-size: 18px;color: #333;overflow: hidden;margin-bottom: 16px;}
.news_81 .edu-section .article-item-slim {margin-bottom: 6px;color: #333;}

/* ===== policy-section ===== */
.news_81 .policy-section {padding-bottom: 0;}
.news_81 .policy-section .policy-list {display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: space-between;}
.news_81 .policy-section .policy-item {position: relative;width: 388px;height: 245px;overflow: hidden;color: #fff;}
.news_81 .policy-section .img-animate.m-cover-img {width: 100%;min-height: 100%;}
.news_81 .policy-section .tag-container {position: absolute;top: 8px;left: 18px;}
.news_81 .policy-section .tag {margin-top: 10px;padding: 0 18px;height: 22px;line-height: 22px;border-radius: 22px;background-color: rgba(1,1,1,.7);border-color: rgba(1,1,1,.7);color: #fff;}
.news_81 .policy-section .title.overflow-hidden {position: absolute;bottom: 0;left: 0;padding: 0 30px;width: 398px;height: 46px;line-height: 46px;background-color: rgba(1,1,1,.7);font-size: 20px;}

/* ===== cases ===== */
.news_81 .cases {}
.news_81 .cases .body {}
.news_81 .cases .m-carousel-wrapper {position: relative;height: 540px;overflow: hidden;}
.news_81 .cases .m-carousel {width: 4500px;position: absolute;left: 0;margin-left: 50%;transform: translate(-50%);-ms-transform: translate(-50%);-moz-transform: translate(-50%);-webkit-transform: translate(-50%);-o-transform: translate(-50%);height: 100%;background-color: transparent;}
.news_81 .cases .m-carousel-item {width: 20%;padding: 40px 10px;display: inline-block;height: 100%;}
.news_81 .cases .m-carousel-item .content {position: relative;width: 100%;height: 100%;background-color: #fff;background-repeat: no-repeat;background-size: cover;}
.news_81 .cases .m-carousel-item.active {}
.news_81 .cases .m-carousel-item.active .content {}

.news_81 .cases .text-wrapper {position: absolute;top: 0;left: 50%;margin-left: -440px;width: 400px;height: 100%;padding: 40px 0;}
.news_81 .cases .text-wrapper .text {padding: 40px;height: 100%;background-color: #fff;}
.news_81 .cases .text-wrapper .content {opacity: 1;transition: opacity 1s;color: #666;}
.news_81 .cases .text-wrapper .text-title {margin: 20px 0;font-size: 24px;line-height: 1.4;}
.news_81 .cases .text-wrapper .text-content {font-size: 16px;line-height: 1.6;}
.news_81 .cases .text-wrapper .text-right {text-align: right;}
.news_81 .cases .text-wrapper .btn.btn-default {margin-top: 20px;border-radius: 1px;color: #333;background-color: #fff;border-color: #ccc;}
.news_81 .cases .text-wrapper .btn.btn-default:hover{color: #333;background-color: #e6e6e6;border-color: #adadad;}

.news_81 .cases .prev-trigger,
.news_81 .cases .next-trigger {position: absolute;top: 50%;margin-top: -30px;width: 60px;height: 60px;line-height: 60px;color: #fff;font-size: 32px;text-align: center;cursor: pointer;background-color: rgba(31,134,237,.6);}
.news_81 .cases .prev-trigger {left: 50%;margin-left: -560px;}
.news_81 .cases .next-trigger {right: 50%;margin-right: -560px;}



.news_81 .expert-section,
.news_81 .expert-section > .head h2,
.news_81 .cases,
.news_81 .cases > .head h2 {background-color: #f5f5f5;}

.news_81 .floor-nav-container {position: fixed;bottom: 12%;padding-top: 3px;width: 46px;z-index: 10;color: #fff;background-color: #086dbb;z-index: 2;}
.news_81 .floor-nav-container .list-item {background-color: #515151;cursor: pointer;padding: 12px 8px;line-height: 1.2;text-align: center;}
.news_81 .floor-nav-container .list-item:before {content: " ";display: block;position: relative;left: 5px;top: 49px;width: 20px;height: 1px;background-color: #fff;top: 45px;}
.news_81 .floor-nav-container .list-item.no-bottom {}
.news_81 .floor-nav-container .list-item.list-url.no-bottom {background-color: #ccc;color: #fff;}
.news_81 .floor-nav-container .list-item.active{background-color: #f3ab1e;}

@media screen and (min-width: 1340px){
    .news_81 .floor-nav-container {margin-left: 50%;left: -720px;}
}

.news_81 .m-float-buttons {position: fixed;right: 20px;bottom: 17%;width: 44px;z-index: 9997;}
.news_81 .m-float-buttons .btn{margin-bottom: 10px;padding: 0;height: 44px;width: 44px;border-radius: 0;font-size: 28px;border-width: 2px;}
.news_81 .m-float-buttons .btn-wechat,
.news_81 .m-float-buttons .btn-consult {position: relative;font-size: 14px;white-space: normal;line-height: 1;padding: 6px 0;}
.news_81 .m-float-buttons .btn-wechat{}
.news_81 .m-float-buttons .btn-consult {}
.news_81 .m-float-buttons .wechat-container {position: absolute;top: -2px;left: 0;width: 0;height: 0;overflow: hidden;transition: all .2s ease-in-out;border: 2px solid #1f86ed;background-color: #fff;color: #1f86ed;font-size: 14px;}
.news_81 .m-float-buttons .btn-primary-reverse.btn-back-top {}
.news_81 .m-float-buttons .btn-primary{background-color: #1f86ed;border-color: #1f86ed;color: #fff;}
.news_81 .m-float-buttons .btn-primary:hover{color: #fff; background-color: #286090; border-color: #204d74;}
.news_81 .m-float-buttons .btn-primary-reverse{background-color: #fff;border-color: #1f86ed;color: #1f86ed;}
.news_81 .m-float-buttons .btn-primary-reverse:hover{background-color: #1f86ed;border-color: #1f86ed;color: #fff;}

.news_81 .m-float-buttons .btn-wechat:hover:before {position: absolute;left: -14px;top: -1px;content: "";display: block;width: 10px;height: 18px;border-top: 9px solid transparent;border-left: 10px solid #1f86ed;border-bottom: 9px solid transparent;}
.news_81 .m-float-buttons .btn-wechat:hover:after {position: absolute;left: -14px;top: -2px;content: "";display: block;width: 12px;height: 134px;background-color: transparent;}

.news_81 .m-float-buttons .wechat-container:hover{left: -114px;width: 100px;height: 134px;}