.icon-arrow-down{background-image:url(icon.png);background-position:-38px -40px;width:15px;height:13px}
.icon-click{background-image:url(icon.png);background-position:0 0;width:20px;height:20px}
.icon-tzgg-on{background-image:url(icon.png);background-position:-20px 0;width:20px;height:20px}
.icon-tzgg{background-image:url(icon.png);background-position:0 -20px;width:20px;height:20px}
.icon-ptxw-on{background-image:url(icon.png);background-position:-20px -20px;width:20px;height:20px}
.icon-ptxw{background-image:url(icon.png);background-position:-40px 0;width:20px;height:20px}
.icon-zcxx-on{background-image:url(icon.png);background-position:-40px -20px;width:20px;height:20px}
.icon-zcxx{background-image:url(icon.png);background-position:0 -40px;width:20px;height:20px}
.icon-user{background-image:url(icon.png);background-position:-20px -40px;width:18px;height:18px}


