.jrwm {
}

.jrwm .mn {
    background-color: #e7eaef;
    padding: 55px 0 37px;
}

.jrwm .mn-c {
    background-color: #ffffff;
    padding: 43px 50px;
    text-align: center;
}
.jrwm .banner img{width: 100%}
.jrwm .mn-c table {
    width: 100%;
    border-spacing: 0;
}

.jrwm .mn-c th,
.jrwm .mn-c td {
    line-height: 50px;
}
.jrwm .mn-c td a:hover{
    text-decoration: underline;
    color: #0C6DB8;
}
.jrwm .mn-c th {
    background-color: #f5f5f5;
}

.jrwm .mn-c .txt {
    line-height: 30px;
    font-size: 14px;
}

.jrwm .mn-c .txt-2 {
    font-size: 18px;
}
.jrwm .mn-c .td-1{width:20%;}
.jrwm .mn-c .td-2{width:20%;}
.jrwm .mn-c .td-3{width:15%;}
.jrwm .mn-c .td-4{width:20%;}
.jrwm .mn-c .td-5{width:15%;}
.jrwm .mn-c .td-6{width:10%;}
@media screen and (max-width: 749px) {
    .jrwm .mn-c{padding: 20px 12px;}
    .jrwm .mn-c .td-1{width: 85%}
    .jrwm .mn-c .td-6{width: 15%}
    .jrwm .mn-c .td-2,
    .jrwm .mn-c .td-3,
    .jrwm .mn-c .td-4,
    .jrwm .mn-c .td-5{display: none}
}