.month {
  overflow: hidden;
  line-height: 30px;
}
.month .tt {
  padding: 2px 4px;
  display: inline-block;
}
.month .tt.active {
  background-color: #293896;
  color: #fff;
}
.month-wrapper {
  padding: 20px;
  overflow: hidden;
}
.month-wrapper .btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid #0a539a;
  color: #0a539a;
  font-size: 24px;
  float: left;
}
.month-wrapper .current {
  float: left;
  display: inline-block;
  font-size: 36px;
  margin: 0 25px;
  line-height: 54px;
}
