.xwzx {}
.xwzx .cnt-wrapper {}
.xwzx .cnt-wrapper .m-cnt {border-right: 2px solid #eaeaea;width: 856px;padding: 30px 40px 30px 20px;box-sizing: border-box;float: left;}
.xwzx .cnt-wrapper .ad-wrapper {padding: 30px 0;font-size: 0;float: right;width: 300px;}
.xwzx .cnt-wrapper .ad-wrapper img {margin-bottom: 12px;}
.xwzx .cnt-wrapper .more {height: 54px;background: url("../imgs/xwzx-more.png") #e1dede 50% 50% no-repeat;cursor: pointer;}
.xwzx .cnt-wrapper .cnt-cell,
.xwzx .cnt-wrapper .cnt-cell-first {display: flex;border-bottom: 2px solid #e1e1e1;}
.xwzx .cnt-wrapper .cnt-cell {padding: 27px 0 24px;}
.xwzx .cnt-wrapper .cnt-cell .bd{display: flex}
.xwzx .cnt-wrapper .cnt-cell .date {background-color: #e1e1e1;width: 100px;height: 110px;margin-right: 20px;}
.xwzx .cnt-wrapper .cnt-cell .date p {font-size: 14px;color: #999999;padding: 0 14px;line-height: 1em;margin-top: 7px;}
.xwzx .cnt-wrapper .cnt-cell .date p.day {font-size: 36px;color: #e62b1e;margin-top: 20px;}
.xwzx .cnt-wrapper .cnt-cell .mn-cnt {flex: 1;font-size: 14px;color: #746969;line-height: 18px;}
.xwzx .cnt-wrapper .cnt-cell .mn-cnt .txt-1 {font-size: 18px;color: #666666;margin-top: 9px;}
.xwzx .cnt-wrapper .cnt-cell .mn-cnt .txt-2,
.xwzx .cnt-wrapper .cnt-cell .mn-cnt .txt-3 {margin-top: 10px;}
/*.xwzx .cnt-wrapper .cnt-cell .mn-cnt .txt-3{height: 36px;overflow: hidden;}*/
.xwzx .cnt-wrapper .cnt-cell-first{padding-bottom: 20px;}
.xwzx .cnt-wrapper .cnt-cell-first .mn-cnt{flex: 1;}
.xwzx .cnt-wrapper .cnt-cell-first .date{color: #6d8ac4;font-size: 26px;line-height: 30px;}
.xwzx .cnt-wrapper .cnt-cell-first .txt-1{font-size: 18px;line-height: 20px;color: #666666;margin-top: 27px;}
.xwzx .cnt-wrapper .cnt-cell-first .txt-2{margin: 11px 0;font-size: 14px;color: #777777;line-height: 24px;}
.xwzx .cnt-wrapper .cnt-cell-first .avatar{display: flex;width: 330px;margin-left: 20px;align-items: center;justify-content: center;}
.xwzx .cnt-wrapper .ad-wrapper{padding: 30px 0;font-size: 0;float: right;width: 300px;}
.xwzx .cnt-wrapper .ad-wrapper img{margin-bottom: 12px;width: 100%;}

.xwzx .banner .container img{width: 100%;}

@media screen and (max-width: 1199px) and (min-width: 769px){
    .xwzx .cnt-wrapper .m-cnt{width: 686px;}
    .xwzx .cnt-wrapper .ad-wrapper{padding: 20px 0;}
    .xwzx .cnt-wrapper .ad-wrapper{width: 250px;}
}
@media screen and (max-width: 768px) and (min-width: 750px){
    .xwzx .cnt-wrapper .m-cnt{width: 100%;border-right:none;padding:30px 20px;}
    .xwzx .cnt-wrapper .ad-wrapper{width: 100%;display: flex;}
    .xwzx .cnt-wrapper .ad-wrapper div{flex: 1;margin: 0 5px;}
}
@media screen and (max-width: 749px){
    .xwzx .cnt-wrapper .m-cnt{width: 100%;border-right:none;padding:20px 12px;}
    .xwzx .cnt-wrapper .ad-wrapper{width: 100%;padding: 0 12px;box-sizing: border-box;}
}