blockquote,body,button,dd,dl,dt,fieldset,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;border:0}
body,button,input,select,textarea{font-family:'Microsoft Yahei',"Lucida Grande",Tahoma,Arial,Helvetica,sans-serif;font-size:14px;color:#333}
button,input,select,textarea{outline:0}
html{line-height:1}
address,cite,em,i,var{font-style:normal}
h1{font-size:18px}
h2{font-size:16px}
h3{font-size:14px}
h4,h5,h6{font-size:100%}
li,ol,ul{list-style:none}
a{text-decoration:none;color:#333;cursor:pointer}
ahover{text-decoration:none;color:#ef3838;transition-duration:.4s}
.container{width:1200px;margin:0 auto;}
img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
.icon-earth{width: 22px;height: 22px;background: url("../imgs/icon-earth.png") 0 0 no-repeat;}
.icon-magnifier{width: 20px;height: 20px;background: url("../imgs/icon-magnifier.png") 50% 50% no-repeat;}
.icon-house{width: 18px;height: 18px;background: url("../imgs/icon-house.png") 50% 50% no-repeat;}
.icon{display:inline-block}

.zyyw .banner{background:50% 0 no-repeat;background-size: contain;}
.zyyw .banner .container {}
.zyyw .banner .container:before{display: block;content: '';padding-top: 37.5%;}
.zyyw .bus-heal{width:1058px;overflow: hidden;padding-bottom:50px;color: #645b58;margin: 40px auto 0;}
.zyyw .bus-heal .cnt{width:496px;float:left;}
.zyyw .bus-heal .cnt h1{margin-bottom: 20px;}
.zyyw .bus-heal .txt p{line-height: 22px;text-align: justify;}
.zyyw .bus-heal .txt img{max-width: 100% !important;}
.zyyw .bus-heal .avatar{float:right;width: 469px;display: flex;justify-content: center;}
.zyyw .bus-heal .avatar img{max-width: 100%;}

.zyyw .pager-wrapper{font-size: 14px;margin-bottom: 30px;}
.zyyw .pager-wrapper .next-content{float: right}
.news-xwzx .list-wapper .newstitle{padding: 20px 0;}
.news-xwzx .list-wapper .newstitle .newstit{color: #000000;font-size: 20px;font-family: '微软雅黑';}
.news-xwzx .list-wapper .newstitle .newsshorttit{color: #ff5210;font-size: 20px;padding: 5px 0;}
.news-xwzx .menu-wapper{    width: 320px;margin-left: 68px;margin-top: -37px;display: flex;flex-direction: column;}


.tupian{width: 300px;height: 100px;background-position: center;background-repeat: no-repeat;}
.news-xwzx .menu-wapper{width: 306px;margin-left: 117px;border-right: 1px solid #e6e6e6;border-left: 1px solid #e6e6e6;}
.news-xwzx .menu-wapper .tt{background-color: #293896;color: #ffffff;position: relative;height: 170px;}
.news-xwzx .menu-wapper .txt{position: absolute;font-size: 30px;line-height: 30px;left: 31px;bottom: 26px;}
.news-xwzx .menu-wapper .menu-items{flex: 1;padding: 12px;margin-top: 90px;}
.news-xwzx .menu-wapper .menu-items img{width: 100%;height: auto;}
.news-xwzx .menu-wapper .item{color: #645b58; display: block;position: relative;height: 60px;line-height: 60px;text-align: center;/*padding-left: 30px;*/width: 100px;
    border: 1px solid #e6e6e6;font-weight: bold;float: left;}
.wenzi{text-align: center;}
.news-xwzx .menu-wapper .item:after{position: absolute;display: block;content: '';width: 0; height: 100%;left: 0;top:0;background-color: #eeefe8;transition:width .2s;}
.news-xwzx .menu-wapper .item span{position: relative;z-index: 10;width: 100%;height: 60px;}
.news-xwzx .menu-wapper .item.active:after,
.news-xwzx .menu-wapper .item:hover:after{width: 100%;}


@media screen and (max-width: 1199px)  {
    .zyyw .bus-heal{width: 958px;}
    .zyyw .bus-heal .avatar{width: 369px;}
}
@media screen and (max-width: 768px) {
    .zyyw .bus-heal{width: 100%;margin-top: 20px;}
    .zyyw .bus-heal .cnt{width: 100%;}
    .zyyw .bus-heal .avatar{width: 100%;margin-top: 30px;display: flex;justify-content: center;}
}
@media screen and (max-width: 749px) {
}
