.footer{height:auto;background-color:#f5eedc;color:#999999;background: url("../imgs/bottom.png") 50% 100% repeat-x;background-size: contain;}
.footer a{color:#999999}
.footer .footer-wrapper{display: flex;}
.footer .footer-wrapper .mn-1{width: 33%;border-top: 2px solid #413e8d;height: 200px;color: #000000;}
.footer .footer-wrapper .mn-1 .txt-1{font-size: 12px;line-height: 12px;margin-top: 28px;}
.footer .footer-wrapper .mn-1 .txt-2{font-size: 22px;line-height: 22px;margin-top: 25px;}
.footer .footer-wrapper .mn-1 .txt-2 span{color: #fc5111;margin-left: 14px;}
.footer .footer-wrapper .mn-2{flex: 1;border-top: 2px solid #fc490c;font-size: 12px;text-align: right;height: 148px;font-weight: bold;}
.footer .footer-wrapper .mn-2 .txt-1{line-height: 24px;margin-top: 36px;}
.footer .footer-wrapper .mn-2 .txt-2{line-height: 24px;}
.footer .footer-wrapper .mn-2 .txt-2 a{margin-left: 14px;}

@media screen and (max-width: 1199px){
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 749px) {
    .footer .footer-wrapper{display: block;}
    .footer .footer-wrapper .mn-1{width: 100%;height: auto;padding-bottom: 10px;}
    .footer .footer-wrapper .mn-1 .txt-1{margin-top: 10px;}
    .footer .footer-wrapper .mn-2{text-align: center;}
    .footer .footer-wrapper .mn-2 .txt-1{margin-top: 18px;}
}