.navigation-bar .container{font-size:0}
.navigation-bar .container .bd{margin:0 auto;height:60px;text-align:center;}
.navigation-bar .container .item-wapper{float:right;margin-top: 8px;}
.navigation-bar .container .dot{width: 5px;height: 5px;border-radius: 50%;background-color: #c2c2c2;display: inline-block;margin: 18px 5px 0;float: left;}
.navigation-bar .container .item{position:relative;height: 40px;line-height: 40px;text-align:center;font-size:13px;float: left;font-weight: bold;}
.navigation-bar .container .item a.tt{color:#757575;display:inline-block;padding: 0 14px;}
.navigation-bar .container .item a.tt.on{color: #e71910;}
.navigation-bar .container .item .menu{display:none;position:absolute;top: 40px;left:0;width:100%;padding: 10px 0;z-index: 999}
.navigation-bar .container .item .menu.visible{display:block}
.navigation-bar .container .item .menu .arrow{margin:0 auto;background:url(../imgs/arrow.png?v=xfLMvwYkPUqyFq%2FGZERloA%3D%3D) 0 0 no-repeat;background-size:100% 100%}
.navigation-bar .container .item .menu ul{display:inline-block;background-color:rgba(0,0,0,.7)}
.navigation-bar .container .item .menu ul a{word-break:keep-all;color: #fff;font-size: 12px;}
.navigation-bar .container .item .menu ul a:hover{color:#fff}
.navigation-bar .search{width: 40px;height: 40px;background-color: #ec4847;float: left;margin-left: 19px;}
.navigation-bar .search .icon{margin: 10px;}

@media screen and (min-width: 1680px) {
}

@media screen and (max-width: 749px) {
	.navigation-bar .container{padding: 0}
	.navigation-bar .container .bd{height: 28px;line-height: 30px;border-left: 0;border-right: 0;}
	.navigation-bar .container .item{font-size: 14px;line-height: 28px;}
	.navigation-bar .container .item a.tt{padding: 0}
}