.icon-nav{background: 50% 50% no-repeat;background-size: 100%;display: inline-block;width: 24px;height: 24px;margin-right: 10px;transform: translateY(5px);}
.icon-nav.icon-nav-home{background-image: url("../imgs/icon-nav-home.png");}
.icon-nav.icon-nav-ptjj{background-image: url("../imgs/icon-nav-ptjj.png");}
.icon-nav.icon-nav-ptxw{background-image: url("../imgs/icon-nav-ptxw.png");}
.icon-nav.icon-nav-zczx{background-image: url("../imgs/icon-nav-zczx.png");}
.icon-nav.icon-nav-zxfw{background-image: url("../imgs/icon-nav-zxfw.png");}

.navigation-bar .container{font-size:0}
.navigation-bar .container .bd{margin:0 auto;background-color:#f5f5f5;border:1px solid #e5e5e5;height:54px;line-height:54px;text-align:center}
.navigation-bar .container .item{position:relative;display:inline-block;width:20%;text-align:center;font-size:16px}
.navigation-bar .container .item a.tt{color:#000;display:inline-block;padding:0 20px;margin-bottom:-1px;border-bottom:2px solid transparent}
.navigation-bar .container .item a.tt:hover{color:#0066B3;border-color:#f8a835}
.navigation-bar .container .item a.tt.on{color:#0066B3;border-color:#f8a835}
.navigation-bar .container .item .menu{display:none;position:absolute;top:0;left:0;width:100%}
.navigation-bar .container .item .menu.visible{display:block}
.navigation-bar .container .item .menu .arrow{margin:0 auto;background:url(../imgs/arrow.png?v=xfLMvwYkPUqyFq%2FGZERloA%3D%3D) 0 0 no-repeat;background-size:100% 100%}
.navigation-bar .container .item .menu ul{display:inline-block;background-color:rgba(0,0,0,.7)}
.navigation-bar .container .item .menu ul a{word-break:keep-all}
.navigation-bar .container .item .menu ul a:hover{color:#999}

@media screen and (min-width: 1680px) {
}

@media screen and (max-width: 749px) {
  .navigation-bar .container{padding: 0}
	.navigation-bar .container .bd{height: 28px;line-height: 30px;border-left: 0;border-right: 0;}
	.navigation-bar .container .item{font-size: 14px;line-height: 28px;}
	.navigation-bar .container .item a.tt{padding: 0}
}