blockquote, body, button, dd, dl, dt, fieldset, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    border: 0
}

body, button, input, select, textarea {
    font-family: 'Microsoft Yahei', "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333
}

button, input, select, textarea {
    outline: 0
}

html {
    line-height: 1
}

address, cite, em, i, var {
    font-style: normal
}

h1 {
    font-size: 18px
}

h2 {
    font-size: 16px
}

h3 {
    font-size: 14px
}

h4, h5, h6 {
    font-size: 100%
}

li, ol, ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer
}

ahover {
    text-decoration: none;
    color: #ef3838;
    transition-duration: .4s
}

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic
}


/*

.icon {
    display: inline-block
}

.column-item-zx {
}

.column-item-zx .banner {
}

.column-item-zx .column-item-bd {
    padding: 23px 0 28px;
}

.column-item-zx .column-item-bd .slide-bar {
    width: 20%;
    font-size: 0;
    float: left;
}

.column-item-zx .column-item-bd .slide-bar .tit-logo {
}

.column-item-zx .column-item-bd .slide-bar .menu-wrapper {
    border: 1px solid #a0a0a0;
   margin: 0  0 20px 20px;
}

.column-item-zx .column-item-bd .slide-bar .menu-cell {
    font-size: 18px;
    display: block;
    height: 76px;
    line-height: 76px;
    text-align: center;

}

.column-item-zx .column-item-bd .slide-bar .menu-cell + .menu-cell {
    border-top: 1px solid #a0a0a0;
}

.column-item-zx .column-item-bd .slide-bar .menu-cell em {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    font-size: 0;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.column-item-zx .column-item-bd .container {
    overflow: hidden;
    width: 1200px;
    background-color: white;
}

.column-item-zx .column-item-bd .box-wrapper {
    width: 917px;
    overflow: hidden;
    float: right;
    margin: 22px 20px 0 0;
}

.column-item-zx .column-item-bd .box-wrapper .box {
    border: 1px solid #a0a0a0;
}
.column-item-zx .column-item-bd .box-wrapper .box + .box{
    margin-top: 27px;
}

.column-item-zx .column-item-bd .box-wrapper .box .box-tt {
    margin: 0 36px;
    border-bottom: 1px solid #a0a0a0;
    padding: 16px 0 12px;
    font-size: 0;
}

.column-item-zx .column-item-bd .box-wrapper .box .txt-1 {
    font-size: 20px;
    color: #e74a19;
    border-bottom: 1px solid #e74a19;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    padding-bottom: 12px;
    margin-bottom: -13px;
    font-weight: 600;
}

.column-item-zx .column-item-bd .box-wrapper .box .txt-2 {
    color: #999999;
    margin-left: 10px;
    font-size: 14px;
}

.column-item-zx .column-item-bd .box-wrapper .box .box-bd{
    overflow: hidden;
}
.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-a{padding: 26px 19px 20px;}
.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-a .item{
    width: 260px;
    margin: 0 16px;
    float: left;
}
.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-a .item-mn{
    border:1px solid #a0a0a0;
    height: 177px;
}
.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-a .item .img{}
.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-a .item .tt{text-align: center;font-size: 20px;margin-top: 25px;}
.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-a .item .bd{
    padding: 15px 12px 0;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-b{
    padding: 25px 17px;
}
.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-b .item{
    width: 400px;
    float: left;
    margin: 14px 20px;
}
.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-b .item-mn{
    background-color: #f8f8f8;
    position: relative;
    width: 320px;
    margin-left: -160px;
    float: right;
    height: 160px;
    z-index: 1;
    padding: 0 26px 0 106px;
    box-sizing: border-box;
}
.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-b .item .img{
    padding: inherit;
    z-index: 999;
    width: 160px;
    height: 160px;
    position: relative;
}
.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-b .item .tt{
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-top: 25px;
}
.column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-b .item .bd{
    font-size: 12px;
    line-height: 18px;
    color: #999999;
    margin-top: 16px;
}

@media screen and (max-width: 749px) {
    .column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-b .item {
        width: 300px;
        float: none;
        margin: 14px 20px;
        display: block;
        height: 160px;
    }
    .column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-b .item .img {
        padding: inherit;
        z-index: 999;
        width: 100px;
        position: relative;
        height: 100px;
        margin-top: 30px;
        margin-left: -19px;
    }
    .column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-b .item-mn {
        background-color: #f8f8f8;
        position: relative;
        width: 320px;
        margin-left: -160px;
        float: right;
        height: 160px;
        z-index: 1;
        padding: 0 26px 0 106px;
        box-sizing: border-box;
    }
    .column-item-zx .column-item-bd .slide-bar {
        display:none;
    }
    .column-item-zx .column-item-bd .box-wrapper {
        width: 98% !important;
        overflow: hidden;
        float: none;
        margin: auto;
    }
    .column-item-zx .column-item-bd .box-wrapper .box .box-bd.box-bd-a .item {
        width: 260px;
        float: none;
        margin: auto;
        margin-bottom: 30px;
    }
}
*/

/*.jiuweitop{width: 100%;height: 200px;}
.daohangkaishi{width: 100%;height: 50px;background-color: #070b50;}
.daohangui{width: 1200px;margin: auto;}
.daohangui li{width: 19%;padding: 16px 0;display: inline-block;font-size: 18px;text-align: center;}
.daohangui a{width: 100px;height: 50px;color: white;}
.daohangui li:hover{background-color: rgb(0,104,175);}
.shouye{background-color: rgb(0,104,175);}
.tit-logo{width: 220px;height: 123px;margin-left: 20px;margin-top: 20px; border-top: 1px solid #a0a0a0;}
.jiuweidikuang{width: 100%;height: 700px}
.dibu{margin-top: 50px;margin-left: 30%;font-size: 18px;width: 100%;height: 100px;position: absolute;}
.dibuwenzi{margin-left: 10%;display: inline-block;margin-top: 10px;line-height: 50px;}*/
/*.header .container {margin-top: -80px;position: relative;}*/
.fuwufanwei{width: 100%;}
.container {width: 1200px;margin: auto}
.juzhong{width: 1000px;margin: auto;}
.wenziti{position: absolute;margin-top: -500px;letter-spacing: 20px;color: white;font-size: 60px;font-family: 宋体；}
.hengxian{width: 100px;}
.wenziti2{position: absolute;margin-top: -350px;letter-spacing: 25px;color: white;font-size: 60px;margin-left: 200px;font-family: 宋体；}
.wenxintop{width: 475px;height: 49px;margin-left: 500px;}
.biaoti{width: 460px;margin:auto;}
.fuwufanwei{width: 100%;padding-top: 30px;}
.fuwukuang{width: 1200px;margin: auto;}
.jieshao{width: 400px;height: 400px;}
.jiewenzi{width: 380px;padding: 170px 0;font-size: 16px;}
.tubiao{width: 750px;margin-left: 430px;margin-top: -360px;position: absolute;}
.tubiao ui{width: 100%;}
.tubiao li{width: 47%;margin-left: 2%;height: 120px;background-color: white;margin-top: 50px;display: inline-block;}
.erji{width: 90px;height: 100px;padding: 10px 0;}
.tuwen{width: 190px;height: 120px;}
.yanjiu{width: 160px;height: 30px;position: absolute;margin-left: 120px;border-bottom: 1px solid#c7c7c7;margin-top: -105px;}
.yanjiuwen{width: 160px;height: 80px;position: absolute;margin-left: 120px;margin-top: -60px;}
@media screen and (max-width: 1119px) and (min-width: 769px) {
    .container {width: 1000px;}
    .fuwukuang{width: 1000px;margin: auto;}
    .tubiao li{width: 40%;}
    .tubiao{margin-left: 330px;}
    .jiewenzi{width: 280px;margin-left: 20px;}
}