.header .container{height:110px;background:url("../imgs/logo-bg.png") 0 0 no-repeat #eeeeee;}
.header .logo{float:left;margin:29px 0 0 36px}
.header .sign{float:right;border:1px solid #e5e5e5;height:38px;line-height:38px;border-radius:12px;font-size:0;margin-top:29px}
.header .sign .icon{float:left;margin:10px 12px 0}
.header .sign .bd{padding:0 18px;display:inline-block;border-left:1px solid #e5e5e5;font-size:0;line-height: 40px;height: 40px;}
.header .sign a{color:#293896;font-size:14px}
.header .sign a+a{margin-left:17px}

.header .search{background-color: #e5e5e5;float: right;height: 30px;width: 190px;border-radius: 30px;margin: 41px 14px 0 0;border: 1px solid #a0a0a0;}
.header .searchCon{height: 30px;width: 143px;padding-left: 15px;box-sizing: border-box;background-color: transparent;float: left;font-size: 12px;}
.header .searchMenu{background: url("../imgs/magnifier.png") 50% 50% no-repeat;width: 42px;height: 30px;}

@media screen and (max-width: 749px) {
    .header .container{
        height: auto;
        overflow: hidden;
        background-image:none;
        background-color: #FFFFFF;
    position: relative}
    .header .logo{margin: 12px 0;width: 82px;}
    .header .search{
        margin: 0;
        height: 24px;
        width: 138px;
        position: absolute;
        top: 17px;
        right: 12px;}
    .header .search form{
        display: flex;
    }
    .header .searchCon{
        flex: 1;
        height: 24px;
        width: 100px;
    }
    .header .searchMenu{
        height: 24px;}
}