.navigation-bar{font-size:0;float: left;margin: 36px 0 0 100px;}
.navigation-bar .bd{margin:0 auto;text-align:center;}
.navigation-bar .item{position:relative;padding: 0 14px;display:inline-block;text-align:center;font-size:16px;height: 74px;line-height: 48px;}
.navigation-bar .item + .item{margin-left: 90px;}
.navigation-bar .item .tt{display: block;height: 74px;}
.navigation-bar .item.on{color:#293896;background-color:#cbcbcb;height: 74px;border-radius: 6px 6px 0 0;}
.navigation-bar .item.on a.tt{color:#293896;}
.navigation-bar .item:hover{background-color:rgba(183, 183, 183, 0.2901960784313726);border-radius: 6px 6px 0 0;}
.navigation-bar .item .menu{display: none;position:absolute;top: 100%;left:0;width: 160%;line-height: initial;background-color: rgba(0,0,0,.7);padding: 5px 0;}
.navigation-bar .item .menu.visible{display:block}
.navigation-bar .item .menu ul{display: block;}
.navigation-bar .item .menu ul a{word-break:keep-all;color: #fff;padding: 0 20px;font-size: 14px;line-height: 24px;height: 24px;}
.navigation-bar .item .menu ul a:hover{color:#999}
@media screen and (max-width: 749px) {
    .navigation-bar{margin: 0;width: 100%;background-color: #eee;}
    .navigation-bar .item{padding: 0 8px;font-size: 12px;height: 30px;line-height: 30px;}
    .navigation-bar .item.on{height: 30px;border-radius: 0;}
    .navigation-bar .item + .item{margin-left: 0;}
}