.navigation-bar{font-size:0;}

.logo2{width:500px;height: 90px;position: absolute;margin-top: -600px;}
.navigation-bar .bd{text-align:center;width: 50%;margin-left:500px;height: 90px;position: absolute;margin-top: -600px;background-color: white;line-height: 90px;}
.navigation-bar .item{position:relative;padding: 0 5px;display:inline-block;text-align:center;font-size:19px;height: 80px;line-height: 90px;font-family: "微软雅黑", "黑体"}
.navigation-bar .item + .item{margin-left: 30px;}
.navigation-bar .item .tt{display: block;height:90px;}
.navigation-bar .item.on{color:white;background-color:#0066b3;height: 90px;}
.navigation-bar .item.on a.tt{color:white;}
.navigation-bar .item a:hover{color: white;}
.navigation-bar .item a:active{color: white;height: 90px;}
.navigation-bar .item a{color: #505050;text-decoration: none;}
.navigation-bar .item:hover{background-color:#0066b3;height: 90px;}
.navigation-bar .item:active{background-color:#0066b3;}
.navigation-bar .item .menu{display: none;position:absolute;top: 100%;left:0;width: 160%;line-height: initial;background-color: rgba(0,0,0,.7);padding: 5px 0;}
.navigation-bar .item .menu.visible{display:block}
.navigation-bar .item .menu ul{display: block;}
.navigation-bar .item .menu ul a{word-break:keep-all;color: #fff;padding: 0 20px;font-size: 14px;line-height: 24px;height: 24px;}
.navigation-bar .item .menu ul a:hover{color:#999}
.searchCon{position: absolute;margin-top: -660px;height: 23px;width: 180px;margin-left: 860px;text-indent: 20px;}
.fangdajing{width: 20px;height: 23px;position: absolute;margin-top: -660px;margin-left: 1040px;}
@media screen and (max-width: 1024px) {
    .navigation-bar{width: 100%;background-color: #eee;}
     .navigation-bar .item{padding: 0 5px;font-size: 14px;height: 90px;line-height: 90px;margin-left: -10px;}
    .navigation-bar .item.on{height: 90px;border-radius: 0;}
    .navigation-bar .item .tt{height:90px;}
    .searchCon{margin-left: 780px;}
    .fangdajing{margin-left: 930px;}
}