blockquote,body,button,dd,dl,dt,fieldset,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;border:0}
body,button,input,select,textarea{font-family:'Microsoft Yahei',"Lucida Grande",Tahoma,Arial,Helvetica,sans-serif;font-size:14px;color:#333}
button,input,select,textarea{outline:0}
html{line-height:1}
address,cite,em,i,var{font-style:normal}
h1{font-size:18px}
h2{font-size:16px}
h3{font-size:14px}
h4,h5,h6{font-size:100%}
li,ol,ul{list-style:none}
img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
.header .container {margin-top: -40px;position: relative;}
/*分页效果*/
.fenyekaishi{background-color: #dddddc;padding: 30px 37%;}
.fenye a{text-decoration:none;color:#333;cursor:pointer;display: inline-block;font-size: 16px;width: 30px;background-color: white;text-align: center;padding: 5px 0; }
a.shouyezi{width: 50px;}
a.shangye{width: 70px;}
.fenye a:active{background-color: #0066b3;color: white;}
a.shuziyi{background-color: #0066b3;color: white;}
/*新闻效果*/
.xinwen{width: 100%;}
.kaishi{width:1200px;margin:0 auto}
.juzhong{width: 1000px;margin: auto;}
.wenziti{position: absolute;margin-top: -500px;letter-spacing: 20px;color: white;font-size: 60px;font-family: 宋体；}
.hengxian{width: 100px;}
.wenziti2{position: absolute;margin-top: -350px;letter-spacing: 25px;color: white;font-size: 60px;margin-left: 200px;font-family: 宋体；}
.wenxintop{width: 475px;height: 49px;margin-left: 500px;}
.biaoti{width: 460px;margin:auto;}
.xinwenxinxi{width: 100%;margin-top: 30px;}
.xinwenxinxi2{width: 1200px;margin: auto;}
.daui{padding-bottom: 20px;}
.xinxili{width: 47%;display: inline-block;margin-left: 2%;}
.diyizhang{width: 235px;height: 156px;}
.dierli{width: 100%;display: inline-block;padding: 5px 0;font-size: 16px;}
.zong{width: 350px;height: 156px;}
.diyi{width:300px;height: 50px;position: absolute;margin-top: 15px;margin-left: 20px;font-size: 16px;}
span.shijian{width: 300px;height: 50px;margin-left: 20px;position: absolute;margin-top: 130px;}
.dierp{width: 100%;margin-top: 20px;display: inline-block;}
.dierwen{width: 350px;word-wrap:break-word; overflow : hidden;text-overflow: ellipsis;}
.jian{width: 200px;margin-left: 160px;}
.diyi a{color: black;text-decoration: none;}
.dierwen a{color: black;text-decoration: none;}
@media screen and (max-width: 1119px) {
    .kaishi{width: 1000px;margin: auto;}
    .fenyekaishi{padding: 20px 26%;}
    .xinwenxinxi2{width: 1000px;margin: auto;}
    .diyi{width:200px;}
    .shijian{width: 200px;}
    .dierwen{width: 300px;word-wrap:break-word; overflow : hidden;text-overflow: ellipsis;}
    .jian{width: 150px;margin-left: 40px;}
}